//ACCORDION MIXIN
@mixin accordion-button(){
	  border: 1px solid $silver;
	  padding: 2px 4px;
	  margin-bottom: 2px;
	  text-decoration: none;
	  display: block;
	  color: $black;
	  cursor: default;
	  @include text-shadow( 1px 1px $white);
 }

 @mixin accordion-btn-icon(){
 	  border: 1px solid $silver;
	  padding: 2px 4px;
	  padding-left: 20px;
	  margin-bottom: 2px;
	  display: block;
	  cursor: default;
	  position: relative;
	  color: $black;
	  text-decoration: none;
	  outline: none;
 }

 @mixin gr_gray_button(){
	@include text-shadow(1px 1px $white);
	color: $button_gr_gray;
	font: 10pt Calibri, Tahoma, Arial;
 }