.GrGrayGrid {
color: Black;
background-color: White;
border: 1px solid #c3c3c3;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayGridHeader {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px none #c3c3c3;
border-bottom-style: solid;
padding: 4px 6px;
}
.GrGrayGridFooter {
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23217%2c215%2c215/.%23242%2c241%2c241.png.a5image') repeat-x top #ebeaea;
border: 1px none #c3c3c3;
border-top-style: solid;
padding: 4px 6px;
}
.GrGrayGridSummaryLabel {
color: Gray;
background-color: #fdfcfc;
padding: 2px;
}
.GrGrayGridSummaryData {
background-color: #fdfcfc;
padding: 2px;
}
.GrGrayGridQBE {
background-color: #f2f1f1;
}
.GrGrayGridSeparator {
background-color: White;
font-size: 0px;
padding: 0px;
margin: 0px;
height: 1px;
}
.GrGrayGridRowHeader {
background-color: #f2f1f1;
}
.GrGrayGridDataHeader {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c252%2c252/.%23242%2c241%2c241.png.a5image') repeat-x top #f2f1f1;
border: 1px solid #c3c3c3;
border-left-style: none;
border-right-style: none;
padding: 4px 6px;
}
.GrGrayGridData {
background-color: #fdfcfc;
padding: 2px;
}
.GrGrayGridDataAlt {
background-color: #f5f4f4;
padding: 2px;
}
.GrGrayGridRowHover .GrGrayGridDataAlt, .GrGrayGridRowHover .GrGrayGridData {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
border: 1px none #93aeff;
border-top-style: solid;
border-bottom-style: solid;
padding: 1px 2px;
}
.GrGrayGridRowSelected .GrGrayGridDataAlt, .GrGrayGridRowSelected .GrGrayGridData {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border: 1px none #93aeff;
border-top-style: solid;
border-bottom-style: solid;
padding: 1px 2px;
}
.GrGrayGridDataError {
color: #fe0000;
background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image') repeat center #ffdada;
font: 10pt Calibri, Tahoma, Arial;
}
.GrGrayGridHeader .GrGrayLink {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
}
.GrGrayGridHeader .GrGrayLink:hover {
text-decoration: underline;
color: #353535;
}
.GrGrayGridForm {
}
.GrGrayGridFormLabel {
padding: 2px;
}
.GrGrayGridFormData {
padding: 2px;
}
.GrGrayGridFormDataError {
color: #fe0000;
background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image') repeat center #ffdada;
font: 10pt Calibri, Tahoma, Arial;
}