.GrGrayPage {
color: Black;
font: 10pt Calibri, Tahoma, Arial;
}
.GrGrayHeading {
font: bold 11pt Calibri, Tahoma, Arial;
}
.GrGrayTextHighlight {
font-style: italic;
font-weight: bold;
border-bottom: 1px dotted Black;
}
.GrGrayLink {
color: Black;
}
.GrGrayLink:hover {
text-decoration: none;
color: Gray;
}
.GrGrayGroup {
border: 1px solid #c3c3c3;
padding: 4px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.GrGrayGroupLabel {
}
.GrGrayUILock {
background-color: #232222;
border: 1px solid Black;
opacity: .25;
filter: alpha(opacity: 25);
}
.GrGrayEdit {
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #c3c3c3;
padding: 3px;
vertical-align: middle;
border-radius: 2px;
box-sizing: border-box;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
outline: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.GrGrayEditError {
color: #fe0000;
background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image') repeat center #ffdada;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #fe0000;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayEditWatermark {
color: Gray;
font-style: italic;
}
.GrGrayEditBG {
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #c3c3c3;
padding: 0px;
vertical-align: middle;
border-radius: 2px;
box-sizing: border-box;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.GrGrayEditBGError {
color: #fe0000;
background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image') repeat center #ffdada;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #fe0000;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayEditBGEdit {
background: repeat-x top transparent;
font: 10pt Calibri, Tahoma, Arial;
border: 1px none #c3c3c3;
padding: 3px;
margin: 0px;
outline: none;
}
.GrGrayEditBGError .GrGrayEditBGEdit {
color: #fe0000;
}
.GrGrayEditBGEditWatermark {
color: Gray;
font-style: italic;
}
.GrGrayEditBGSeparator {
background-color: transparent;
font: 0pt arial;
padding: 0px;
width: 1px;
}
.GrGrayEditBGHover .GrGrayEditBGSeparator, .GrGrayEditBGFocus .GrGrayEditBGSeparator {
background-color: #c3c3c3;
}
.GrGrayEditBGButton {
padding: 1px 2px;
}
.GrGrayEditBGHover .GrGrayEditBGButton, .GrGrayEditBGFocus .GrGrayEditBGButton {
text-shadow: 1px 1px #ffffff;
color: #333232;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image') repeat-x top #dad9d9;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid White;
padding: 0px 1px;
border-radius: 1px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
}
.GrGrayEditBGHover .GrGrayEditBGButtonHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
}
.GrGrayEditBGHover .GrGrayEditBGButtonPressed, .GrGrayEditBGFocus .GrGrayEditBGButtonPressed {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
}
.GrGrayButton {
text-shadow: 1px 1px #ffffff;
color: #333232;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image') repeat-x top #dad9d9;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #c7c6c6;
padding: 2px 4px;
vertical-align: middle;
border-radius: 4px;
box-sizing: border-box;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.GrGrayButtonT {
text-shadow: 1px 1px #ffffff;
color: #333232;
background-color: transparent;
font: 10pt Calibri, Tahoma, Arial;
border-style: none;
padding: 3px 5px;
vertical-align: middle;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.GrGrayButtonHover, .GrGrayButtonTHover {
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
border: 1px solid #4170ff;
padding: 2px 4px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.GrGrayButtonPressed, .GrGrayButtonTPressed {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
border: 1px solid #9d9999;
padding: 2px 4px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.GrGrayButtonDisabled, .GrGrayButtonTDisabled, .GrGrayButton[disabled], .GrGrayButtonT[disabled] {
color: #8a8888;
}
.GrGrayButtonDD {
text-shadow: 1px 1px #ffffff;
color: #333232;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image') repeat-x top #dad9d9;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #c7c6c6;
padding: 0px;
vertical-align: middle;
border-radius: 4px;
box-sizing: border-box;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.GrGrayButtonTDD {
text-shadow: 1px 1px #ffffff;
color: #333232;
background-color: transparent;
font: 10pt Calibri, Tahoma, Arial;
border-style: none;
padding: 1px;
vertical-align: middle;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.GrGrayButtonDDHover, .GrGrayButtonTDDHover {
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
border: 1px solid #4170ff;
padding: 0px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.GrGrayButtonDDPressed, .GrGrayButtonTDDPressed {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
border: 1px solid #9d9999;
padding: 0px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.GrGrayButtonDDDisabled, .GrGrayButtonTDDDisabled {
color: #8a8888;
}
.GrGrayButtonDDContent, .GrGrayButtonDDSplitContent, .GrGrayButtonTDDContent, .GrGrayButtonTDDSplitContent {
padding: 2px 4px;
cursor: default;
}
.GrGrayButtonDDDropdown, .GrGrayButtonDDSplitDropdown, .GrGrayButtonTDDDropdown, .GrGrayButtonTDDSplitDropdown {
padding: 2px;
cursor: default;
}
.GrGrayButtonDDHover .GrGrayButtonDDSplitContent, .GrGrayButtonTDDHover .GrGrayButtonTDDSplitContent {
border-right: 1px solid White;
padding-right: 3px;
}
.GrGrayButtonDDPressed .GrGrayButtonDDSplitContent, .GrGrayButtonTDDPressed .GrGrayButtonTDDSplitContent {
border-right: 1px solid #f5f4f4;
padding-right: 3px;
}
.GrGrayButtonDDHover .GrGrayButtonDDSplitDropdown, .GrGrayButtonTDDHover .GrGrayButtonTDDSplitDropdown {
border-left: 1px solid #83a2ff;
padding-left: 1px;
}
.GrGrayButtonDDPressed .GrGrayButtonDDSplitDropdown, .GrGrayButtonTDDPressed .GrGrayButtonTDDSplitDropdown {
border-left: 1px solid #c7c6c6;
padding-left: 1px;
}
.GrGrayButtonDDHover .GrGrayButtonDDSplitDropdownHover, .GrGrayButtonTDDHover .GrGrayButtonTDDSplitDropdownHover {
background: url('images/a5generated/box/size/1x10/fill/Gradient_Horizontal/.HTML-White/.%23229%2c228%2c228.png.a5image') repeat-x top #cedafe;
border-left: 1px solid #4170ff;
padding: 2px;
padding-left: 1px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
-webkit-top-right-border-radius: 3px;
-moz-top-right-border-radius: 3px;
-webkit-bottom-right-border-radius: 3px;
-moz-bottom-right-border-radius: 3px;
}
.GrGrayButtonGroupHF {
border-right-style: none;
margin-right: 0px;
border-radius: 3px 0px 0px 3px;
}
.GrGrayButtonGroupHM {
border-right-style: none;
margin-left: 0px;
margin-right: 0px;
border-radius: 0px;
}
.GrGrayButtonGroupHL {
margin-left: 0px;
border-radius: 0px 3px 3px 0px;
}
.GrGrayButtonGroupVF {
border-bottom-style: none;
margin-bottom: 0px;
display: block;
width: 100%;
border-radius: 3px 3px 0px 0px;
}
.GrGrayButtonGroupVM {
border-bottom-style: none;
margin-top: 0px;
margin-bottom: 0px;
display: block;
width: 100%;
border-radius: 0px;
}
.GrGrayButtonGroupVL {
margin-top: 0px;
display: block;
width: 100%;
border-radius: 0px 0px 3px 3px;
}
.GrGraySliderH {
padding: 6px;
}
.GrGraySliderHInner {
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
font: 0pt arial;
border: 1px solid #c3c3c3;
height: 6px;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}
.GrGraySliderHHandle {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242+242+242/.%23217+216+216.png.a5image') repeat-x top;
font-size: 0pt;
border: 1px solid #c7c6c6;
margin-top: -6px;
margin-left: -6px;
width: 16px;
height: 16px;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}
.GrGraySliderHRange {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242+242+242/.%23217+216+216.png.a5image') repeat-x top;
font-size: 0pt;
border: 1px solid #c3c3c3;
margin: -1px;
height: 6px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.GrGraySliderHHandleHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
border-color: #93aeff;
}
.GrGraySliderHHandleSelected {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border-color: #4170ff;
}
.GrGraySliderHRangeHover {
background: url('images/a5generated/box/size/1x28/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
border-color: #93aeff;
}
.GrGraySliderHRangeSelected {
background: url('images/a5generated/box/size/1x28/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border-color: #4170ff;
}
.GrGraySwitch {
color: #333232;
background: url('images/a5generated/box/size/1x28/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
border: 1px solid #c3c3c3;
cursor: default;
height: 28px;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}
.GrGraySwitchOn {
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
}
.GrGraySwitchOff {
}
.GrGraySwitchInner {
margin: 0px 14px;
}
.GrGraySwitchRight {
text-align: center;
padding: 4px;
padding-left: 32px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.GrGraySwitchLeft {
text-align: center;
padding: 4px;
padding-right: 32px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.GrGraySwitchButton {
background: url('images/a5generated/box/size/1x28/fill/Gradient_Horizontal/.%23242+242+242/.%23217+216+216.png.a5image') repeat-x top;
border: 1px solid #c7c6c6;
margin-top: -1px;
margin-left: -15px;
width: 28px;
height: 28px;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}
.GrGrayList {
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #c3c3c3;
padding: 0px;
overflow: auto;
border-radius: 2px;
box-sizing: border-box;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.GrGrayListItem {
text-decoration: none;
color: Black;
padding: 2px 4px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.GrGrayListItemHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayListItemSelected {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayListItemLabelMain {
font-size: 125%;
font-weight: bold;
}
.GrGrayListItemLabelSub {
font-weight: bold;
}
.GrGrayListItemLabelContext {
color: #767575;
font-style: italic;
}
.GrGrayListItemLabelDetail {
color: #fefefe;
background-color: #979696;
padding: 2px 10px;
border-radius: 12px;
}
.GrGrayListItemContent {
color: #575656;
}
.GrGrayListTitle {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px none #d9d8d8;
border-top-style: solid;
border-bottom-style: solid;
padding: 2px 4px;
}
.GrGrayListSeparator {
border: 1px none #d9d8d8;
border-top-style: solid;
margin: 0px;
}
.GrGrayListHeader {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px none #c3c3c3;
border-bottom-style: solid;
}
.GrGrayListHeaderItem {
padding: 4px 6px;
cursor: default;
}
.GrGrayListHeaderItemHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
}
.GrGrayTree {
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #c3c3c3;
padding: 2px;
overflow: auto;
border-radius: 2px;
box-sizing: border-box;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.GrGrayTreeNode {
text-decoration: none;
color: Black;
padding: 2px 4px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.GrGrayTreeNodeHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayTreeNodeSelected {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayTreeNodeLabel {
text-decoration: none;
color: Black;
cursor: default;
outline: none;
}
.GrGrayDP {
color: Black;
background-color: White;
border: 1px solid #c3c3c3;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayDPHeader {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px none #c3c3c3;
border-bottom-style: solid;
padding: 2px 4px;
}
.GrGrayDPHeaderButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: #4c4c4c;
padding: 2px 4px;
margin: 1px;
display: inline-block;
cursor: default;
outline: none;
}
.GrGrayDPHeaderButtonHover {
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
border: 1px solid #4170ff;
padding: 1px 3px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.GrGrayDPHeaderButtonSelected {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
border: 1px solid #9d9999;
padding: 1px 3px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.GrGrayDPItem {
text-align: center;
text-decoration: none;
color: Black;
padding: 2px 4px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.GrGrayDPItemHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayDPItemSelected {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayDPItemOutOfRange {
color: #595959;
}
.GrGrayDPItemDisabled {
color: #b2b2b2;
}
.GrGrayDPPanel {
background-color: #fdfcfc;
padding: 2px;
}
.GrGrayDPDaysOfWeek {
background: url('images/a5generated/box/size/1x5/fill/Gradient_Horizontal/.%23220%2c217%2c217/.%23238%2c236%2c236.png.a5image') repeat-x top #eae9e9;
border: 1px none #c3c3c3;
border-bottom-style: solid;
padding: 2px 4px;
}
.GrGrayDPWeeksOfYear {
background-color: #eae9e9;
border-right: 1px solid #c3c3c3;
}
.GrGrayDPWeeksOfYearHeader {
border-bottom-style: none;
}
.GrGrayDPDate {
background-color: #fdfcfc;
padding: 2px;
}
.GrGrayDPDateWeekend {
background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23246%2c244%2c244/.%23238%2c236%2c236.png.a5image') repeat center #efeded;
padding: 2px;
}
.GrGrayDPDateToday {
background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23237%2c235%2c235/.%23230%2c226%2c226.png.a5image') repeat center #e6e3e3;
padding: 2px;
}
.GrGrayTP .GrGrayEdit {
text-align: center;
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #c3c3c3;
border-bottom-style: none;
padding: 3px;
margin: 0px;
border-radius: 2px 2px 0px 0px;
-webkit-border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
}
.GrGrayTPEditButton {
text-align: center;
text-decoration: none;
background-color: #f9f9f9;
border: 1px solid #c3c3c3;
border-top-style: none;
padding: 2px;
display: block;
border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
outline: none;
}
.GrGrayTPEditButton:hover {
background: url('images/a5generated/box/size/1x8/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
border-top-style: solid;
padding-top: 1px;
}
.GrGrayTPMeridianButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: #333232;
padding: 2px 3px;
margin-left: 2px;
vertical-align: middle;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
outline: none;
}
.GrGrayTPMeridianButton:hover {
text-shadow: 1px 1px #ffffff;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
border: 1px solid #4170ff;
padding: 1px 2px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.GrGrayGrid {
color: Black;
background-color: White;
border: 1px solid #c3c3c3;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayGridHeader {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px none #c3c3c3;
border-bottom-style: solid;
padding: 4px 6px;
}
.GrGrayGridFooter {
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23217%2c215%2c215/.%23242%2c241%2c241.png.a5image') repeat-x top #ebeaea;
border: 1px none #c3c3c3;
border-top-style: solid;
padding: 4px 6px;
}
.GrGrayGridSummaryLabel {
color: Gray;
background-color: #fdfcfc;
padding: 2px;
}
.GrGrayGridSummaryData {
background-color: #fdfcfc;
padding: 2px;
}
.GrGrayGridQBE {
background-color: #f2f1f1;
}
.GrGrayGridSeparator {
background-color: White;
font-size: 0px;
padding: 0px;
margin: 0px;
height: 1px;
}
.GrGrayGridRowHeader {
background-color: #f2f1f1;
}
.GrGrayGridDataHeader {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c252%2c252/.%23242%2c241%2c241.png.a5image') repeat-x top #f2f1f1;
border: 1px solid #c3c3c3;
border-left-style: none;
border-right-style: none;
padding: 4px 6px;
}
.GrGrayGridData {
background-color: #fdfcfc;
padding: 2px;
}
.GrGrayGridDataAlt {
background-color: #f5f4f4;
padding: 2px;
}
.GrGrayGridRowHover .GrGrayGridDataAlt, .GrGrayGridRowHover .GrGrayGridData {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
border: 1px none #93aeff;
border-top-style: solid;
border-bottom-style: solid;
padding: 1px 2px;
}
.GrGrayGridRowSelected .GrGrayGridDataAlt, .GrGrayGridRowSelected .GrGrayGridData {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border: 1px none #93aeff;
border-top-style: solid;
border-bottom-style: solid;
padding: 1px 2px;
}
.GrGrayGridDataError {
color: #fe0000;
background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image') repeat center #ffdada;
font: 10pt Calibri, Tahoma, Arial;
}
.GrGrayGridHeader .GrGrayLink {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
}
.GrGrayGridHeader .GrGrayLink:hover {
text-decoration: underline;
color: #353535;
}
.GrGrayGridForm {
}
.GrGrayGridFormLabel {
padding: 2px;
}
.GrGrayGridFormData {
padding: 2px;
}
.GrGrayGridFormDataError {
color: #fe0000;
background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image') repeat center #ffdada;
font: 10pt Calibri, Tahoma, Arial;
}
.GrGrayDialogLabel {
padding: 2px;
}
.GrGrayDialogRSHeader {
}
.GrGrayDialogRSFooter {
text-align: right;
border-top: 1px dotted #c3c3c3;
padding-top: 2px;
}
.GrGrayDialogRSRow {
padding: 3px;
}
.GrGrayDialogRSRowSelected {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.White/.%23236%2c240%2c255.png.a5image') repeat-x top #ecf0ff;
border: 1px solid #beceff;
padding: 2px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.GrGrayDialogRSRowHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23253%2c254%2c255/.%23243%2c246%2c255.png.a5image') repeat-x top #f3f6ff;
border: 1px solid #beceff;
padding: 2px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.GrGrayDialogRSRowError {
color: #fe0000;
background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image') repeat center #ffdada;
border: 1px solid #fe0000;
padding: 2px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.GrGrayDialogRSSeparator {
border-top: 1px dotted #c3c3c3;
margin-top: 5px;
line-height: 5px;
}
.GrGrayMenu {
color: Black;
background-color: #f2f1f1;
border: 1px solid #a5a3a3;
border-radius: 3px;
box-shadow: 3px 3px 6px #aaa;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-moz-box-shadow: 3px 3px 6px #aaa;
-webkit-box-shadow: 3px 3px 6px #aaa;
}
.GrGrayMenuInner {
border: 1px solid White;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayMenuIconColumn {
background: url('MenuIconColBack.png') repeat-y left;
}
.GrGrayMenuNoIndent {
background-color: #f2f1f1;
}
.GrGrayMenuItem {
text-decoration: none;
white-space: nowrap;
color: Black;
padding: 2px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.GrGrayMenuItemHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
border: 1px solid #93aeff;
padding: 1px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayMenuItemSelected {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border: 1px solid #93aeff;
padding: 1px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayMenuItemDisabled {
color: #8c8c8c;
}
.GrGrayMenuItemDisabledHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c249%2c249/.%23232%2c231%2c231.png.a5image') repeat-x top #e8e7e7;
border: 1px solid #cdcaca;
padding: 1px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayMenuItem .GrGrayMenuItemCascade {
background: url('MenuCascade.png') no-repeat right;
padding-right: 18px;
}
.GrGrayMenuItemDisabled .GrGrayMenuItemCascade {
background: url('MenuCascadeDisabled.png') no-repeat right;
}
.GrGrayMenuSeparator {
font-size: 0px;
border-style: none;
border-top: 1px solid #d9d8d8;
border-bottom: 1px solid White;
padding: 0px;
}
.GrGrayMenuTitle {
color: Gray;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23244%2c242%2c242/.%23233%2c230%2c230.png.a5image') repeat-x top #e9e6e6;
border: 1px none #d9d8d8;
border-top-style: solid;
border-bottom-style: solid;
padding: 1px 3px;
}
.GrGrayMenuItemHover .GrGrayMenuItemCascade {
background: url('MenuCascadeHover.png') no-repeat right;
}
.GrGrayMenubarHItem {
text-decoration: none;
white-space: nowrap;
color: Black;
padding: 2px 4px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.GrGrayMenubarHItemHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayMenubarHItemPressed {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayMenubarHItemDisabled {
color: #8c8c8c;
}
.GrGrayMenubarHSeparator {
font-size: 0px;
border-style: none;
border-left: 1px solid #d9d8d8;
border-right: 1px solid White;
padding: 0px;
vertical-align: middle;
height: 10pt;
}
.GrGrayMenubarHItemCascade {
background: url('MenubarHCascade.png') no-repeat right;
padding-right: 12px;
}
.GrGrayMenubarHItemHover .GrGrayMenubarHItemCascade {
background-image: url('MenubarHCascadeHover.png');
}
.GrGrayMenubarHItemPressed .GrGrayMenubarHItemCascade {
background-image: url('MenubarHCascadePressed.png');
}
.GrGrayMenubarHItemDisabled .GrGrayMenubarHItemCascade {
background-image: url('MenubarHCascadeDisabled.png');
}
.GrGrayMenubarVItem {
text-decoration: none;
white-space: nowrap;
color: Black;
padding: 2px 4px;
margin: 1px;
display: block;
cursor: default;
outline: none;
}
.GrGrayMenubarVItemHover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayMenubarVItemPressed {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border: 1px solid #93aeff;
padding: 1px 3px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayMenubarVItemDisabled {
color: #8c8c8c;
}
.GrGrayMenubarVSeparator {
font-size: 0px;
border-style: none;
border-top: 1px solid #d9d8d8;
border-bottom: 1px solid White;
padding: 0px;
}
.GrGrayMenubarVItemCascade {
background: url('MenubarVCascade.png') no-repeat right;
padding-right: 10px;
}
.GrGrayMenubarVItemHover .GrGrayMenubarVItemCascade {
background-image: url('MenubarVCascadeHover.png');
}
.GrGrayMenubarVItemPressed .GrGrayMenubarVItemCascade {
background-image: url('MenubarVCascadePressed.png');
}
.GrGrayMenubarVItemDisabled .GrGrayMenubarVItemCascade {
background-image: url('MenubarVCascadeDisabled.png');
}
.GrGrayWin {
color: Black;
background: url('images/a5generated/box/size/1x100/fill/Gradient_Horizontal/.%23235%2c234%2c234/.%23191%2c190%2c190.png.a5image') repeat-x top #bfbebe;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #a5a3a3;
border-radius: 3px;
box-shadow: 0 0 6px #888;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-moz-box-shadow: 0 0 6px #888;
-webkit-box-shadow: 0 0 6px #888;
}
.GrGrayWinActive {
background: url('images/a5generated/box/size/1x100/fill/Gradient_Horizontal/.%23217%2c216%2c216/.%23191%2c190%2c190.png.a5image') repeat-x top #bfbebe;
border-color: #949191;
box-shadow: 0 0 8px #333;
-moz-box-shadow: 0 0 8px #333;
-webkit-box-shadow: 0 0 8px #333;
}
.GrGrayWinAdjust {
}
.GrGrayWinInner {
border: 1px solid #f0efef;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayWinTitle {
text-shadow: #ffffff 0px 0px 3px;
font-weight: bold;
padding: 2px 4px;
cursor: move;
}
.GrGrayWinBodyContainer {
border: 1px solid #f0efef;
margin: 3px;
}
.GrGrayWinTBar {
background-color: #f5f4f4;
border: 1px solid #a5a3a3;
border-bottom-style: none;
padding: 2px;
}
.GrGrayWinBody {
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
padding: 2px;
overflow: auto;
}
.GrGrayWinButtons {
text-align: right;
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23217%2c215%2c215/.%23242%2c241%2c241.png.a5image') repeat-x top #ebeaea;
border: 1px solid #a5a3a3;
border-top-style: none;
padding: 2px 4px;
}
.GrGrayWinBBar {
background-color: #f5f4f4;
border: 1px solid #a5a3a3;
border-top-style: none;
padding: 2px;
}
.GrGrayWinHeader {
padding: 2px 4px;
}
.GrGrayWinFooter {
padding: 2px 4px;
}
.GrGrayWinActive .GrGrayWinInner {
border: 1px solid #fdfcfc;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayWinActive .GrGrayWinBodyContainer {
border-color: #fdfcfc;
}
.GrGrayWinActive .GrGrayWinTBar, .GrGrayWinActive .GrGrayWinBody, .GrGrayWinActive .GrGrayWinButtons, .GrGrayWinActive .GrGrayWinBBar {
border-color: #949191;
}
.GrGrayWinResizer {
background: url('images/a5generated/box/size/1x8/fill/Gradient_Horizontal/.%23191%2c190%2c190/.%23217%2c216%2c216.png.a5image') repeat-x bottom #bfbebe;
font-size: 1px;
cursor: s-resize;
height: 10px;
}
.GrGrayDDWin {
color: Black;
background-color: #f2f1f1;
font: 10pt Calibri, Tahoma, Arial;
border: 1px solid #a5a3a3;
border-radius: 3px;
box-shadow: 3px 3px 6px #aaa;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-moz-box-shadow: 3px 3px 6px #aaa;
-webkit-box-shadow: 3px 3px 6px #aaa;
}
.GrGrayDDWinAdjust {
}
.GrGrayDDWinInner {
border: 1px solid White;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayDDWinTitle {
text-shadow: #ffffff 0px 0px 3px;
font-weight: bold;
padding: 2px 4px;
cursor: move;
}
.GrGrayDDWinHeader {
padding: 2px 4px;
}
.GrGrayDDWinBody {
background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
font: 10pt Calibri, Tahoma, Arial;
padding: 2px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.GrGrayDDWinButtons {
text-align: right;
border-top: 1px solid #c3c3c3;
padding: 2px 4px;
}
.GrGrayDDWinFooter {
padding: 2px 4px;
}
.GrGrayDDWinResizer {
background: url('images/a5generated/box/size/1x8/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23219%2c218%2c218.png.a5image') repeat-x top #dddcdc;
font-size: 1px;
border-top: 1px solid #c3c3c3;
cursor: s-resize;
height: 10px;
}
.GrGrayDDWinBBar {
padding: 2px 4px;
}
.GrGrayDDWinTBar {
border-bottom: 1px solid #c3c3c3;
padding: 2px 4px;
}
.GrGrayWinPointerDown, .GrGrayDDWinPointerDown, .GrGrayMenuPointerDown {
border-top: 10px solid #a5a3a3;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
margin-left: -10px;
left: 50%;
width: 0;
height: 0;
bottom: -10px;
}
.GrGrayWinPointerUp, .GrGrayDDWinPointerUp, .GrGrayMenuPointerUp {
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid #a5a3a3;
margin-left: -10px;
top: -10px;
left: 50%;
width: 0;
height: 0;
}
.GrGrayWinPointerLeft, .GrGrayDDWinPointerLeft, .GrGrayMenuPointerLeft {
border-top: 10px solid transparent;
border-right: 10px solid #a5a3a3;
border-bottom: 10px solid transparent;
margin-top: -10px;
top: 50%;
left: -10px;
width: 0;
height: 0;
}
.GrGrayWinPointerRight, .GrGrayDDWinPointerRight, .GrGrayMenuPointerRight {
border-top: 10px solid transparent;
border-left: 10px solid #a5a3a3;
border-bottom: 10px solid transparent;
margin-top: -10px;
top: 50%;
right: -10px;
width: 0;
height: 0;
}
.GrGrayPanelHeader {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c252%2c252/.%23242%2c241%2c241.png.a5image') repeat-x top #f2f1f1;
border-right: 1px solid #c3c3c3;
border-bottom: 1px solid #c3c3c3;
padding: 4px 6px;
}
.GrGrayPanelBody {
background-color: #fdfcfc;
border-right: 1px solid #c3c3c3;
padding: 4px;
}
.GrGrayPanelFooter {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c252%2c252/.%23242%2c241%2c241.png.a5image') repeat-x top #f2f1f1;
border-top: 1px solid #c3c3c3;
border-right: 1px solid #c3c3c3;
padding: 4px 6px;
}
.GrGrayPanelOverlay:before {
content: '';
display: block;
position: absolute;
top: 0px;
width: 2px;
height: 100%;
left: -3px;
border-right: #c3c3c3 1px solid;
background: rgba(0,0,0,.1);
}
.GrGrayPanelOverlay:after {
content: '';
display: block;
position: absolute;
top: 0px;
width: 2px;
height: 100%;
right: -3px;
border-left: #c3c3c3 1px solid;
background: rgba(0,0,0,.1);
}
.GrGrayPanelTopHeader {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border-right: 1px solid #c3c3c3;
border-bottom: 1px solid #c3c3c3;
padding: 4px 6px;
}
.GrGrayPanelTopBody {
background-color: #fdfcfc;
border-right: 1px solid #c3c3c3;
padding: 4px;
}
.GrGrayPanelTopFooter {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border-top: 1px solid #c3c3c3;
border-right: 1px solid #c3c3c3;
padding: 4px 6px;
}
.GrGrayPanelNavIndButton {
background: url('images/a5generated/box/size/1x10/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image') repeat-x top #dad9d9;
border: 1px solid #c7c6c6;
margin: 2px;
display: inline-block;
width: 10px;
height: 10px;
border-radius: 5px;
}
.GrGrayPanelNavIndButtonSelected {
background: url('images/a5generated/box/size/1x10/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
border: 1px solid #9d9999;
}
.GrGrayAccordion {
}
.GrGrayAccordionButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #a5a3a3;
padding: 2px 4px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
outline: none;
}
.GrGrayAccordionButton:hover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
}
.GrGrayAccordionButtonSelected {
text-decoration: none;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c250%2c250/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
border: 1px solid #a5a3a3;
border-bottom-color: #d9d8d8;
padding: 2px 4px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
-webkit-border-radius: 2px 2px 0px 0px;
outline: none;
}
.GrGrayAccordionButtonSelected:hover {
}
.GrGrayAccordionButtonDisabled {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: #888585;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #a5a3a3;
padding: 2px 4px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
outline: none;
}
.GrGrayAccordionButtonDisabled:hover {
}
.GrGrayAccordionPane {
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-top-style: none;
padding: 2px;
margin-top: -2px;
margin-bottom: 2px;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
}
.GrGrayAccordionIconButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #a5a3a3;
padding: 2px 4px;
padding-left: 20px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
outline: none;
}
.GrGrayAccordionIconButton:before {
position: absolute;
top: 2px;
left: 3px;
content: url('Expand.png');
}
.GrGrayAccordionIconButton:hover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
}
.GrGrayAccordionIconButtonSelected {
text-decoration: none;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c250%2c250/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
border: 1px solid #a5a3a3;
border-bottom-color: #d9d8d8;
padding: 2px 4px;
padding-left: 20px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
-webkit-border-radius: 2px 2px 0px 0px;
outline: none;
}
.GrGrayAccordionIconButtonSelected:before {
position: absolute;
top: 2px;
left: 3px;
content: url('Collapse.png');
}
.GrGrayAccordionIconButtonSelected:hover {
}
.GrGrayAccordionIconButtonDisabled {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: #888585;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #a5a3a3;
padding: 2px 4px;
padding-left: 20px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
outline: none;
}
.GrGrayAccordionButtonDisabled:hover {
}
.GrGrayTabTContainer {
}
.GrGrayTabTBand {
}
.GrGrayTabTButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #c3c3c3;
border-bottom-style: none;
padding: 2px 4px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
-webkit-border-radius: 2px 2px 0px 0px;
outline: none;
}
.GrGrayTabTButton:hover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
border-color: #a5a3a3;
}
.GrGrayTabTButtonSelected {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-bottom-style: none;
padding: 2px 4px;
padding-bottom: 3px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
position: relative;
border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
-webkit-border-radius: 2px 2px 0px 0px;
outline: none;
}
.GrGrayTabTButtonSelected:hover {
}
.GrGrayTabTButtonDisabled {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: #888585;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #c3c3c3;
border-bottom-style: none;
padding: 2px 4px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
float: left;
cursor: default;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.GrGrayTabTButtonDisabled:hover {
}
.GrGrayTabTPanes {
}
.GrGrayTabTPane {
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
padding: 2px;
}
.GrGrayTabBContainer {
}
.GrGrayTabBBand {
}
.GrGrayTabBButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image') repeat-x bottom #e3e1e1;
border: 1px solid #c3c3c3;
border-top-color: #a5a3a3;
padding: 2px 4px;
margin-top: -1px;
margin-right: 2px;
display: block;
float: left;
cursor: default;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.GrGrayTabBButton:hover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23238%2c236%2c236/.%23249%2c247%2c247.png.a5image') repeat-x bottom #efeded;
border-color: #a5a3a3;
}
.GrGrayTabBButtonSelected {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-top-style: none;
padding: 2px 4px;
padding-top: 3px;
margin-top: -1px;
margin-right: 2px;
display: block;
float: left;
cursor: default;
position: relative;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.GrGrayTabBButtonSelected:hover {
}
.GrGrayTabBButtonDisabled {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: #888585;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image') repeat-x bottom #e3e1e1;
border: 1px solid #c3c3c3;
border-top-color: #a5a3a3;
padding: 2px 4px;
margin-top: -1px;
margin-right: 2px;
display: block;
float: left;
cursor: default;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.GrGrayTabBButtonDisabled:hover {
}
.GrGrayTabBPanes {
}
.GrGrayTabBPane {
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
padding: 2px;
}
.GrGrayTabLContainer {
}
.GrGrayTabLBand {
}
.GrGrayTabLButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #c3c3c3;
padding: 2px;
margin-right: -1px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 2px 0px 0px 2px;
-moz-border-radius: 2px 0px 0px 2px;
-webkit-border-radius: 2px 0px 0px 2px;
outline: none;
}
.GrGrayTabLButton:hover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
border-color: #a5a3a3;
}
.GrGrayTabLButtonSelected {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-right-style: none;
padding: 2px;
padding-right: 3px;
margin-right: -1px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 2px 0px 0px 2px;
-moz-border-radius: 2px 0px 0px 2px;
-webkit-border-radius: 2px 0px 0px 2px;
outline: none;
}
.GrGrayTabLButtonSelected:hover {
}
.GrGrayTabLButtonDisabled {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: #888585;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #c3c3c3;
padding: 2px;
margin-right: -1px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 2px 0px 0px 2px;
-moz-border-radius: 2px 0px 0px 2px;
-webkit-border-radius: 2px 0px 0px 2px;
outline: none;
}
.GrGrayTabLButtonDisabled:hover {
}
.GrGrayTabLPanes {
}
.GrGrayTabLPane {
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
padding: 2px;
}
.GrGrayTabRContainer {
}
.GrGrayTabRBand {
}
.GrGrayTabRButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #c3c3c3;
border-left-style: none;
padding: 2px;
margin-left: 0px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 0px 2px 2px 0px;
-moz-border-radius: 0px 2px 2px 0px;
-webkit-border-radius: 0px 2px 2px 0px;
outline: none;
}
.GrGrayTabRButton:hover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
border-color: #a5a3a3;
}
.GrGrayTabRButtonSelected {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-left-style: none;
padding: 2px;
padding-left: 3px;
margin-left: -1px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 0px 2px 2px 0px;
-moz-border-radius: 0px 2px 2px 0px;
-webkit-border-radius: 0px 2px 2px 0px;
outline: none;
}
.GrGrayTabRButtonSelected:hover {
}
.GrGrayTabRButtonDisabled {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
color: #888585;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #c3c3c3;
border-left-style: none;
padding: 2px;
margin-left: 0px;
margin-bottom: 2px;
display: block;
cursor: default;
border-radius: 0px 2px 2px 0px;
-moz-border-radius: 0px 2px 2px 0px;
-webkit-border-radius: 0px 2px 2px 0px;
outline: none;
}
.GrGrayTabRButtonDisabled:hover {
}
.GrGrayTabRPanes {
}
.GrGrayTabRPane {
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
padding: 2px;
}
.GrGrayTabbandT {
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #a5a3a3;
padding: 0px;
}
.GrGrayTabbandTButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
white-space: nowrap;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #c3c3c3;
border-bottom-style: none;
padding: 2px 4px;
margin-top: 2px;
margin-right: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
-webkit-border-radius: 2px 2px 0px 0px;
outline: none;
}
.GrGrayTabbandTButton:hover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image') repeat-x top #efeded;
border-color: #a5a3a3;
}
.GrGrayTabbandTButtonSelected {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
white-space: nowrap;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-bottom-style: none;
padding: 2px 4px;
padding-bottom: 3px;
margin-top: 2px;
margin-right: 2px;
margin-bottom: -1px;
display: block;
cursor: default;
position: relative;
border-radius: 2px 2px 0px 0px;
-moz-border-radius: 2px 2px 0px 0px;
-webkit-border-radius: 2px 2px 0px 0px;
outline: none;
}
.GrGrayTabbandTButtonSelected:hover {
}
.GrGrayTabbandTButtonDisabled {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
white-space: nowrap;
color: #888585;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
border: 1px solid #c3c3c3;
border-bottom-style: none;
padding: 2px 4px;
margin-top: 2px;
margin-right: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.GrGrayTabbandTButtonDisabled:hover {
}
.GrGrayTabbandTLScroll {
text-decoration: none;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-left-style: none;
border-bottom-style: none;
padding: 2px;
padding-bottom: 3px;
margin-bottom: -1px;
display: block;
position: relative;
border-radius: 0px 2px 0px 0px;
-moz-border-radius: 0px 2px 0px 0px;
-webkit-border-radius: 0px 2px 0px 0px;
outline: none;
}
.GrGrayTabbandTLScroll:hover {
}
.GrGrayTabbandTLScrollDisabled {
text-decoration: none;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-left-style: none;
border-bottom-style: none;
padding: 2px;
padding-bottom: 3px;
margin-bottom: -1px;
display: block;
position: relative;
border-radius: 0px 2px 0px 0px;
-moz-border-radius: 0px 2px 0px 0px;
-webkit-border-radius: 0px 2px 0px 0px;
outline: none;
}
.GrGrayTabbandTLScrollDisabled:hover {
}
.GrGrayTabbandTRScroll {
text-decoration: none;
color: Black;
background-color: #f5f4f4;
border: 1px solid #a5a3a3;
border-right-style: none;
border-bottom-style: none;
padding: 2px;
padding-bottom: 3px;
margin-bottom: -1px;
display: block;
position: relative;
border-radius: 2px 0px 0px 0px;
-moz-border-radius: 2px 0px 0px 0px;
-webkit-border-radius: 2px 0px 0px 0px;
outline: none;
}
.GrGrayTabbandTRScroll:hover {
}
.GrGrayTabbandTRScrollDisabled {
text-decoration: none;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-right-style: none;
border-bottom-style: none;
padding: 2px;
padding-bottom: 3px;
margin-bottom: -1px;
display: block;
position: relative;
border-radius: 2px 0px 0px 0px;
-moz-border-radius: 2px 0px 0px 0px;
-webkit-border-radius: 2px 0px 0px 0px;
outline: none;
}
.GrGrayTabbandTRScrollDisabled:hover {
}
.GrGrayTabbandTSeparator {
background-color: #fdfcfc;
font: 0pt arial;
border-top: 1px solid #a5a3a3;
padding: 0px;
height: 3px;
}
.GrGrayTabbandB {
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image') repeat-x bottom #e3e1e1;
border: 1px solid #a5a3a3;
border-bottom-style: solid;
padding: 0px;
}
.GrGrayTabbandBButton {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
white-space: nowrap;
color: Black;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image') repeat-x bottom #e3e1e1;
border: 1px solid #c3c3c3;
border-top-style: none;
padding: 2px 4px;
margin-right: 2px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.GrGrayTabbandBButton:hover {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23238%2c236%2c236/.%23249%2c247%2c247.png.a5image') repeat-x bottom #efeded;
border-color: #a5a3a3;
}
.GrGrayTabbandBButtonSelected {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
white-space: nowrap;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-top-style: none;
padding: 2px 4px;
padding-top: 3px;
margin-top: -1px;
margin-right: 2px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.GrGrayTabbandBButtonSelected:hover {
}
.GrGrayTabbandBButtonDisabled {
text-decoration: none;
text-shadow: 1px 1px #ffffff;
white-space: nowrap;
color: #888585;
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image') repeat-x bottom #e3e1e1;
border: 1px solid #c3c3c3;
border-top-style: none;
padding: 2px 4px;
margin-right: 2px;
margin-bottom: 2px;
display: block;
cursor: default;
position: relative;
border-radius: 0px 0px 2px 2px;
-moz-border-radius: 0px 0px 2px 2px;
-webkit-border-radius: 0px 0px 2px 2px;
outline: none;
}
.GrGrayTabbandBButtonDisabled:hover {
}
.GrGrayTabbandBLScroll {
text-decoration: none;
color: Black;
background-color: #f5f4f4;
border: 1px solid #a5a3a3;
border-top-style: none;
border-left-style: none;
padding: 2px;
padding-top: 3px;
margin-top: -1px;
display: block;
position: relative;
border-radius: 0px 0px 2px 0px;
-moz-border-radius: 0px 0px 2px 0px;
-webkit-border-radius: 0px 0px 2px 0px;
outline: none;
}
.GrGrayTabbandBLScroll:hover {
}
.GrGrayTabbandBLScrollDisabled {
text-decoration: none;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-top-style: none;
border-left-style: none;
padding: 2px;
padding-top: 3px;
margin-top: -1px;
display: block;
position: relative;
border-radius: 0px 0px 2px 0px;
-moz-border-radius: 0px 0px 2px 0px;
-webkit-border-radius: 0px 0px 2px 0px;
outline: none;
}
.GrGrayTabbandBLScrollDisabled:hover {
}
.GrGrayTabbandBRScroll {
text-decoration: none;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-top-style: none;
border-right-style: none;
padding: 2px;
padding-top: 3px;
margin-top: -1px;
display: block;
position: relative;
border-radius: 0px 0px 0px 2px;
-moz-border-radius: 0px 0px 0px 2px;
-webkit-border-radius: 0px 0px 0px 2px;
outline: none;
}
.GrGrayTabbandBRScroll:hover {
}
.GrGrayTabbandBRScrollDisabled {
text-decoration: none;
color: Black;
background-color: #fdfcfc;
border: 1px solid #a5a3a3;
border-top-style: none;
border-right-style: none;
padding: 2px;
padding-top: 3px;
margin-top: -1px;
display: block;
position: relative;
border-radius: 0px 0px 0px 2px;
-moz-border-radius: 0px 0px 0px 2px;
-webkit-border-radius: 0px 0px 0px 2px;
outline: none;
}
.GrGrayTabbandBRScrollDisabled:hover {
}
.GrGrayTabbandBSeparator {
background-color: #fdfcfc;
font: 0pt arial;
border-bottom: 1px solid #a5a3a3;
padding: 0px;
height: 3px;
}
.GrGrayControlGroup {
background-color: #f5f4f4;
border: 1px solid #c3c3c3;
border-radius: 3px;
}
.GrGrayControlGroupRow {
border-top: 1px solid #c3c3c3;
}
.GrGrayControlGroupRowFirst {
border-top-style: none;
}
/* Spin List */
.GrGraySpinList {
text-shadow: none;
color: Black;
background-color: #fdfcfc;
border: 1px solid #c3c3c3;
padding: 3px;
vertical-align: top;
border-radius: 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.GrGraySpinList:after {
background-image: url('spinListShadow.png');
display: block;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
border-radius: 1px;
content: "";
background-size: 100% 100%;
}
.GrGraySpinListItem {
font: 10pt Calibri, Tahoma, Arial;
padding: 2px;
}
.GrGraySpinListGroup {
white-space: nowrap;
border: 1px solid #c3c3c3;
padding: 0px;
overflow: hidden;
border-radius: 2px;
}
.GrGraySpinListGroup .GrGraySpinList {
border-style: none;
border-right: 1px solid #c3c3c3;
display: inline-block;
border-radius: 0px;
}
.GrGraySpinListGroup .GrGraySpinList:last-child {
border-style: none;
}
.GrGraySpinListGroup .GrGraySpinList:after {
border-radius: 0px;
}
.GrGraySpinListSelectBand:before {
background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
border-top: 1px solid #93aeff;
border-bottom: 1px solid #93aeff;
margin-top: -8pt;
display: block;
position: absolute;
top: 50%;
left: 0px;
width: 100%;
height: 16pt;
content: "";
background-size: 100% 100%;
}
/* Scroller */
.GrGrayScroller {
color: white;
background-color: rgba(0, 0, 0, 0.05);
background-image: none;
cursor: default;
}
.GrGrayScrollerDial {
background-color: rgba(0, 0, 0, 0.35);
background-image: none;
padding: 6px;
}
.GrGrayScrollerSlider {
width: 14px;
}
.GrGrayScrollerSliderHandle {
background-color: rgba(0, 0, 0, 0.35);
background-image: none;
width: 14px;
height: 40px;
}
.GrGrayScrollerSliderShadow {
background-color: rgba(0, 0, 0, 0.2);
background-image: none;
border-color: rgba(0, 0, 0, 0.2);
width: 14px;
height: 40px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.GrGrayScrollerSliderMsg {
white-space: nowrap;
color: white;
background-color: rgba(0, 0, 0, 0.35);
background-image: none;
padding: 6px;
position: absolute;
right: 20px;
border-radius: 3px;
}
.GrGrayScrollerSliderMsgT {
top: 0px;
}
.GrGrayScrollerSliderMsgL {
left: 0px;
}
.GrGrayScrollerSliderMsgR {
right: 0px;
}
.GrGrayScrollerSliderMsgB {
bottom: 0px;
}
.GrGrayScrollerSliderMsgT:after {
border-style: solid;
border-width: 5px;
border-color: transparent;
border-left-color: rgba(0, 0, 0, 0.35);
display: block;
position: absolute;
top: 7px;
right: -10px;
content: '';
}
.GrGrayScrollerSliderMsgL:after {
border-style: solid;
border-width: 5px;
border-color: transparent;
border-top-color: rgba(0, 0, 0, 0.35);
display: block;
position: absolute;
left: 7px;
bottom: -10px;
content: '';
}
.GrGrayScrollerSliderMsgR:after {
border-style: solid;
border-width: 5px;
border-color: transparent;
border-top-color: rgba(0, 0, 0, 0.35);
display: block;
position: absolute;
right: 7px;
bottom: -10px;
content: '';
}
.GrGrayScrollerSliderMsgB:after {
border-style: solid;
border-width: 5px;
border-color: transparent;
border-left-color: rgba(0, 0, 0, 0.35);
display: block;
position: absolute;
right: -10px;
bottom: 7px;
content: '';
}
/* Scroll Indicator */
.GrGrayScrollIndH, .GrGrayScrollIndV {
padding: 0px;
width: 5px;
height: 5px;
}
.GrGrayScrollIndHBar, .GrGrayScrollIndVBar {
background-color: Black;
border-radius: 6px;
opacity: .5;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}
/* fix to help with firefox button padding */
button::-moz-focus-inner {
border-width: 0;
padding: 0;
}
