//BASE COLOR PALLETE
$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$body-bg:               #fff !default;
$text-color:            $gray-dark !default;

$link-color:            $brand-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;

$silver				: #A5A3A3;
$silver_light		: #c3c3c3;
$dusty_gray			: #9D9999;
$white 				: #ffffff;
$black 				: #000000;
$alto 				: #d9d8d8;
$mercury 			: #e4e2e2;
$gallery 			: #efeded;
$hint_of_red 		: #fdfcfc;
$mine_shaft 		: #232222;
$gray-dark 			: #8A8888;
$wild_sand			: #F5F4F4;
$malibu				: #83a2ff;
$blue_dodger		: #4170FF;
$tundore			: #4c4c4c;
$mercury_dark		: #EAE9E9;
$scorpion			: #595959;
$silver_chalice		: #B2B2B2;
$bon_jour			: #E6E3E3;
$red				: #fe0000;
$main_shaft			: #333232;
$prewinkle			: #beceff;
$malibu				: #93aeff;
$boulder			: #767575;
$seashell			: #F2F1F1;
$alto				: #d9d8d8;
$sliver_ca			: #c7c6c6;
$hint_ofred			: #fdfcfc;
$gray				: #888585;
$gray_lt			: #949191;
$alabaster			: #f9f9f9;
$galllery			: #f0efef;






