/* ======== Gr GRAY WIN ======== */
.GrGrayWin {
  color: Black;
  background: url('images/a5generated/box/size/1x100/fill/Gradient_Horizontal/.%23235%2c234%2c234/.%23191%2c190%2c190.png.a5image') repeat-x top #bfbebe;
  font: $grayfont-default;
  border: 1px solid $grgray_win_border;
  @include box-shadow(0 0 6px $gray);
  @include border-radius($pixel_7); 
}

.GrGrayWinActive {
  background: url('images/a5generated/box/size/1x100/fill/Gradient_Horizontal/.%23217%2c216%2c216/.%23191%2c190%2c190.png.a5image') repeat-x top #bfbebe;
  border-color: $grgray_win_border;
  @include box-shadow(0 0 8px $gray-dark)
}

.GrGrayWinAdjust! {}

.GrGrayWinInner {
  border: 1px solid $grgray_win_border_in;
 @include border-radius($pixel_8); 
}

.GrGrayWinTitle {
	@include text-shadow($white 0px 0px 3px);
  font-weight: bold;
  padding: 2px 4px;
  cursor: move;
}

.GrGrayWinBodyContainer {
  border: 1px solid $grgray_win_border_in;
  margin: 3px;
}

.GrGrayWinTBar {
  background-color: $grgray_win_bar;
  border: 1px solid $grgray_win_border;
  border-bottom-style: none;
  padding: 2px;
}

.GrGrayWinBody {
  background-color: $grgray_win_body;
  border: 1px solid $grgray_win_border;
  padding: 2px;
  overflow: auto;
}

.GrGrayWinButtons {
  text-align: right;
  background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23217%2c215%2c215/.%23242%2c241%2c241.png.a5image') repeat-x top #ebeaea;
  border: 1px solid $grgray_win_border;
  border-top-style: none;
  padding: 2px 4px;
}

.GrGrayWinBBar {
  background-color: $grgray_win_bar;
  border: 1px solid $grgray_win_border;
  border-top-style: none;
  padding: 2px;
}

.GrGrayWinHeader, .GrGrayWinFooter {
  padding: 2px 4px;
}

.GrGrayWinActive {
  .GrGrayWinInner {
    border: 1px solid $grgray_win_body;
    @include border-radius($pixel_8);
  }
  .GrGrayWinBodyContainer {
    border-color: $grgray_win_body;
  }
  .GrGrayWinTBar, .GrGrayWinBody, .GrGrayWinButtons, .GrGrayWinBBar {
    border-color: $grgray_win_border;
  }
}

.GrGrayWinResizer {
  background: url('images/a5generated/box/size/1x8/fill/Gradient_Horizontal/.%23191%2c190%2c190/.%23217%2c216%2c216.png.a5image') repeat-x bottom #bfbebe;
  font-size: 1px;
  cursor: s-resize;
  height: 10px;
}