/* ======== GGARY EDIT ======== */

.GrGrayEdit {
  font: $grayfont-default;
  background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
  border: 1px solid $gray_edit_border;
  padding: 3px;
  vertical-align: middle;
  @include border-radius(2px);
  @include box-sizing(border-box);
  outline: none;
}

.GrGrayEditError {
  color: $gray_edit_error;
  background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image') repeat center #ffdada;
  font: $grayfont-default;
  border: 1px solid $gray_edit_error;
  @include border-radius(2px);
}

.GrGrayEditWatermark {
  color: Gray;
  font-style: italic;
}

.GrGrayEditBG {
  font:$grayfont-default;
  background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image') repeat-x top #fdfcfc;
  border: 1px solid $gray_edit_border;
  padding: 0px;
  vertical-align: middle;
  @include border-radius(2px);
  @include box-sizing(border-box);
}

.GrGrayEditBGError {
  font: $grayfont-default;
  color: $gray_edit_error;
  background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image') repeat center #ffdada;
  border: 1px solid $gray_edit_error;
  @include border-radius(2px);
  .GrGrayEditBGEdit {
    color: $gray_edit_error;
  }
}

.GrGrayEditBGEdit {
  font: $grayfont-default;
  background: repeat-x top transparent;
  border: 1px none $gray_edit_border;
  padding: 3px;
  margin: 0px;
  outline: none;
}

.GrGrayEditBGEditWatermark {
  color: Gray;
  font-style: italic;
}

.GrGrayEditBGSeparator {
  background-color: transparent;
  font: 0pt arial;
  padding: 0px;
  width: 1px;
}

.GrGrayEditBGHover{
    .GrGrayEditBGSeparator{
      background-color:$gray_edit_bg_action;
    }

    .GrGrayEditBGButton{
       text-shadow: 1px 1px $white;
        color: $gray_edit_btn_color;
        background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image') repeat-x top #dad9d9;
        font: $grayfont-default;
        border: 1px solid White;
        padding: 0px 1px;
        @include border-radius(1px);
    }
}


.GrGrayEditBGFocus {
    .GrGrayEditBGSeparator {
      background-color: $gray_edit_bg_action;
    }

    .GrGrayEditBGButton {
      text-shadow: 1px 1px $white;
      color: $gray_edit_btn_color;
      background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image') repeat-x top #dad9d9;
      font: $grayfont-default;
      border: 1px solid White;
      padding: 0px 1px;
      @include border-radius(1px);
  }
}

.GrGrayEditBGButton {
  padding: 1px 2px;
}

.GrGrayEditBGHover {
  .GrGrayEditBGButtonHover {
    background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image') repeat-x top #beceff;
  }
  .GrGrayEditBGButtonPressed {
    background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
  }
}

.GrGrayEditBGFocus .GrGrayEditBGButtonPressed {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image') repeat-x top #f0efef;
}
