/* ======== Gr GRAY MENU ======== */
.GrGrayMenu {
  color: Black;
  background-color: $graymenu_bgbody;
  border: 1px solid #a5a3a3;
	@include border-radius($pixel_7);
	@include box-shadow($pixel_7 $pixel_7 $pixel_4 #aaa);

}

.GrGrayMenuInner {
  border: 1px solid $white;
  @include border-radius($pixel_8);
}

.GrGrayMenuIconColumn {
  background: url('MenuIconColBack.png') repeat-y left;
}

.GrGrayMenuNoIndent {
  background-color: $graymenu_bgbody;
}

.GrGrayMenuItem {
  text-decoration: none;
  white-space: nowrap;
  color: Black;
  padding: 2px;
  margin: 1px;
  display: block;
  cursor: default;
  outline: none;
}

.GrGrayMenuItemHover {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
  border: 1px solid $graymenu_border;
  padding: 1px;
	@include border-radius($pixel_8);
}

.GrGrayMenuItemSelected {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
  border: 1px solid $graymenu_border;
  padding: 1px;
  @include border-radius($pixel_8);
}

.GrGrayMenuItemDisabled {
  color: #8c8c8c;
}

.GrGrayMenuItemDisabledHover {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c249%2c249/.%23232%2c231%2c231.png.a5image') repeat-x top #e8e7e7;
  border: 1px solid #cdcaca;
  padding: 1px;
  @include border-radius($pixel_8);
}

.GrGrayMenuItem .GrGrayMenuItemCascade {
  background: url('MenuCascade.png') no-repeat right;
  padding-right: 18px;
}

.GrGrayMenuItemDisabled .GrGrayMenuItemCascade {
  background: url('MenuCascadeDisabled.png') no-repeat right;
}

.GrGrayMenuSeparator {
  font-size: 0px;
  border-style: none;
  border-top: 1px solid $graymenu_border;
  border-bottom: 1px solid $white;
  padding: 0px;
}

.GrGrayMenuTitle {
  color: Gray;
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23244%2c242%2c242/.%23233%2c230%2c230.png.a5image') repeat-x top #e9e6e6;
  border: 1px none $graymenu_border;
  border-top-style: solid;
  border-bottom-style: solid;
  padding: 1px 3px;
}

.GrGrayMenuItemHover .GrGrayMenuItemCascade {
  background: url('MenuCascadeHover.png') no-repeat right;
}

.GrGrayMenubarHItem {
  text-decoration: none;
  white-space: nowrap;
  color: Black;
  padding: 2px 4px;
  margin: 1px;
  display: block;
  cursor: default;
  outline: none;
}

.GrGrayMenubarHItemHover {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
  border: 1px solid $graymenu_border;
  padding: 1px 3px;
  @include border-radius($pixel_8);
}

.GrGrayMenubarHItemPressed {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
  border: 1px solid $graymenu_border;
  padding: 1px 3px;
 @include border-radius($pixel_8);
}

.GrGrayMenubarHItemDisabled {
  color: #8c8c8c;
}

.GrGrayMenubarHSeparator {
  font-size: 0px;
  border-style: none;
  border-left: 1px solid $graymenu_border;
  border-right: 1px solid $white;
  padding: 0px;
  vertical-align: middle;
  height: 10pt;
}

.GrGrayMenubarHItemCascade {
  background: url('MenubarHCascade.png') no-repeat right;
  padding-right: 12px;
}

.GrGrayMenubarHItemHover{
  .GrGrayMenubarHItemCascade {background-image: url('MenubarHCascadeHover.png');}
}

.GrGrayMenubarHItemPressed {
  .GrGrayMenubarHItemCascade {background-image: url('MenubarHCascadePressed.png');}
}

.GrGrayMenubarHItemDisabled  {
  .GrGrayMenubarHItemCascade{background-image: url('MenubarHCascadeDisabled.png');}
}

.GrGrayMenubarVItem {
  text-decoration: none;
  white-space: nowrap;
  color: Black;
  padding: 2px 4px;
  margin: 1px;
  display: block;
  cursor: default;
  outline: none;
}

.GrGrayMenubarVItemHover {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
  border: 1px solid $graymenu_border;
  padding: 1px 3px;
  @include border-radius($pixel_8);
}

.GrGrayMenubarVItemPressed {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
  border: 1px solid $graymenu_border;
  padding: 1px 3px;
  @include border-radius($pixel_8);
}

.GrGrayMenubarVItemDisabled {
  color: #8c8c8c;
}

.GrGrayMenubarVSeparator {
  font-size: 0px;
  border-style: none;
  border-top: 1px solid $graymenu_border;
  border-bottom: 1px solid $white;
  padding: 0px;
}

.GrGrayMenubarVItemCascade {
  background: url('MenubarVCascade.png') no-repeat right;
  padding-right: 10px;
}

.GrGrayMenubarVItemHover{
   .GrGrayMenubarVItemCascade {background-image: url('MenubarVCascadeHover.png');}
}

.GrGrayMenubarVItemPressed {
  .GrGrayMenubarVItemCascade {background-image: url('MenubarVCascadePressed.png');}
}

.GrGrayMenubarVItemDisabled {
  .GrGrayMenubarVItemCascade {background-image: url('MenubarVCascadeDisabled.png');}
}