.GrGrayGrid {
  color: $grgray_grid_fontcolor;
  background-color: $grgray_grid_bgcolor;
  border: 1px solid $grgray_grid_border;
  @include border-radius(2px);
}

.GrGrayGridHeader {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image') repeat-x top #e4e2e2;
  border: 1px none $grgray_grid_border;
  border-bottom-style: solid;
  padding: 4px 6px;
}

.GrGrayGridFooter {
  background: url('images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23217%2c215%2c215/.%23242%2c241%2c241.png.a5image') repeat-x top #ebeaea;
  border: 1px none $grgray_grid_border;
  border-top-style: solid;
  padding: 4px 6px;
}

.GrGrayGridSummaryLabel {
  color: Gray;
  background-color: $grgray_grid_bgsumary;
  padding: 2px;
}

.GrGrayGridSummaryData {
  background-color: $grgray_grid_bgsumary;
  padding: 2px;
}

.GrGrayGridQBE {
  background-color: $grgray_grid_bghead;
}

.GrGrayGridSeparator {
  background-color: $grgray_grid_bgcolor;
  font-size: 0px;
  padding: 0px;
  margin: 0px;
  height: 1px;
}

.GrGrayGridRowHeader {
  background-color: $grgray_grid_bghead;
}

.GrGrayGridDataHeader {
  background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c252%2c252/.%23242%2c241%2c241.png.a5image') repeat-x top $grgray_grid_bghead;
  border: 1px solid $grgray_grid_border;
  border-left-style: none;
  border-right-style: none;
  padding: 4px 6px;
}

.GrGrayGridData {
  background-color: $grgray_grid_bgsumary;
  padding: 2px;
}

.GrGrayGridDataAlt {
  background-color: $grgray_grid_bgdata;
  padding: 2px;
}

.GrGrayGridRowHover {
  .GrGrayGridDataAlt, .GrGrayGridData {
    background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image') repeat-x top #cad7fe;
    border: 1px none $grgray_grid_rowborder;
    border-top-style: solid;
    border-bottom-style: solid;
    padding: 1px 2px;
  }
}

.GrGrayGridRowSelected {
  .GrGrayGridDataAlt, .GrGrayGridData {
    background: url('images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image') repeat-x top #b2c5ff;
    border: 1px none $grgray_grid_rowborder;
    border-top-style: solid;
    border-bottom-style: solid;
    padding: 1px 2px;
  }
}

.GrGrayGridDataError {
  color: $grgray_grid_errorcolor;
  background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image') repeat center #ffdada;
  font: $grayfont-default;
}

.GrGrayGridHeader .GrGrayLink {
  text-decoration: none;
  text-shadow: 1px 1px $white;
  &:hover {
    text-decoration: underline;
    color: #353535;
  }
}

.GrGrayGridForm! {}

.GrGrayGridFormLabel, .GrGrayGridFormData {
  padding: 2px;
}

.GrGrayGridFormDataError {
  color: $grgray_grid_errorcolor;
  background: url('images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image') repeat center #ffdada;
  font: $grayfont-default;
}