.GrGrayPage {
  color: $black;
  font: 10pt Calibri, Tahoma, Arial;
}

.GrGrayHeading {
  font: bold 11pt Calibri, Tahoma, Arial;
}

.GrGrayTextHighlight {
  font-style: italic;
  font-weight: bold;
  border-bottom: 1px dotted $black;
}

.GrGrayLink {
  color: $black;
  &:hover {
    text-decoration: none;
    color: Gray;
  }
}

.GrGrayGroup {
  border: 1px solid $silver_light;
  padding: 4px;
  @include border-radius(4px);
}

.GrGrayGroupLabel! {}

.GrGrayUILock {
  background-color: $mine_shaft;
  border: 1px solid $black;
  @include opacity(0.25);
}