/* ======== Gr GRAY CONTROL ======== */
.GrGrayControlGroup {
  background-color: #f5f4f4;
  border: 1px solid #c3c3c3;
  @include border-radius(3px);
}

.GrGrayControlGroupRow {
  border-top: 1px solid #c3c3c3;
}

.GrGrayControlGroupRowFirst {
  border-top-style: none;
}