@charset "UTF-8";
/*==========================================================================
  TYPOGRAPHY
========================================================================== */
/*@font-face {
    font-family: 'CartoGothicStd-Book';
    src: url('../fonts/CartoGothicStd-Book-webfont.eot');
    src: url('../fonts/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CartoGothicStd-Book-webfont.woff') format('woff'),
         url('../fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'),
         url('../fonts/CartoGothicStd-Book-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
/*==========================================================================
  GrGray
========================================================================== */
/* line 1, ../sass/partials/gr_gray/_gr-gray-base.scss */
.GrGrayPage {
  color: black;
  font: 10pt Calibri, Tahoma, Arial;
}

/* line 6, ../sass/partials/gr_gray/_gr-gray-base.scss */
.GrGrayHeading {
  font: bold 11pt Calibri, Tahoma, Arial;
}

/* line 10, ../sass/partials/gr_gray/_gr-gray-base.scss */
.GrGrayTextHighlight {
  font-style: italic;
  font-weight: bold;
  border-bottom: 1px dotted black;
}

/* line 16, ../sass/partials/gr_gray/_gr-gray-base.scss */
.GrGrayLink {
  color: black;
}
/* line 18, ../sass/partials/gr_gray/_gr-gray-base.scss */
.GrGrayLink:hover {
  text-decoration: none;
  color: Gray;
}

/* line 24, ../sass/partials/gr_gray/_gr-gray-base.scss */
.GrGrayGroup {
  border: 1px solid #c3c3c3;
  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 32, ../sass/partials/gr_gray/_gr-gray-base.scss */
.GrGrayUILock {
  background-color: #232222;
  border: 1px solid black;
  opacity: 0.25;
  filter: alpha(opacity=25);
}

/* ======== GGARY EDIT ======== */
/* line 3, ../sass/partials/gr_gray/_gr-gray-edit.scss */
.GrGrayEdit {
  font: 10pt Calibri, Tahoma, Arial;
  background: url("images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image") repeat-x top #fdfcfc;
  border: 1px solid #c3c3c3;
  padding: 3px;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

/* line 14, ../sass/partials/gr_gray/_gr-gray-edit.scss */
.GrGrayEditError {
  color: #fe0000;
  background: url("images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image") repeat center #ffdada;
  font: 10pt Calibri, Tahoma, Arial;
  border: 1px solid #fe0000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 22, ../sass/partials/gr_gray/_gr-gray-edit.scss */
.GrGrayEditWatermark {
  color: Gray;
  font-style: italic;
}

/* line 27, ../sass/partials/gr_gray/_gr-gray-edit.scss */
.GrGrayEditBG {
  font: 10pt Calibri, Tahoma, Arial;
  background: url("images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image") repeat-x top #fdfcfc;
  border: 1px solid #c3c3c3;
  padding: 0px;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 37, ../sass/partials/gr_gray/_gr-gray-edit.scss */
.GrGrayEditBGError {
  font: 10pt Calibri, Tahoma, Arial;
  color: #fe0000;
  background: url("images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image") repeat center #ffdada;
  border: 1px solid #fe0000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 43, ../sass/partials/gr_gray/_gr-gray-edit.scss */
.GrGrayEditBGError .GrGrayEditBGEdit {
  color: #fe0000;
}

/* line 48, ../sass/partials/gr_gray/_gr-gray-edit.scss */
.GrGrayEditBGEdit {
  font: 10pt Calibri, Tahoma, Arial;
  background: repeat-x top transparent;
  border: 1px none #c3c3c3;
  padding: 3px;
  margin: 0px;
  outline: none;
}

/* line 57, ../sass/partials/gr_gray/_gr-gray-edit.scss */
.GrGrayEditBGEditWatermark {
  color: Gray;
  font-style: italic;
}

/* line 62, ../sass/partials/gr_gray/_gr-gray-edit.scss */
.GrGrayEditBGSeparator {
  background-color: transparent;
  font: 0pt arial;
  padding: 0px;
  width: 1px;
}

/* line 70, ../sass/partials/gr_gray/_gr-gray-edit.scss */
.GrGrayEditBGHover .GrGrayEditBGSeparator {
  background-color: #c3c3c3;
}
/* line 74, ../sass/partials/gr_gray/_gr-gray-edit.scss */
.GrGrayEditBGHover .GrGrayEditBGButton {
  text-shadow: 1px 1px white;
  color: #333232;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image") repeat-x top #dad9d9;
  font: 10pt Calibri, Tahoma, Arial;
  border: 1px solid White;
  padding: 0px 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}

/* line 87, ../sass/partials/gr_gray/_gr-gray-edit.scss */
.GrGrayEditBGFocus .GrGrayEditBGSeparator {
  background-color: #c3c3c3;
}
/* line 91, ../sass/partials/gr_gray/_gr-gray-edit.scss */
.GrGrayEditBGFocus .GrGrayEditBGButton {
  text-shadow: 1px 1px white;
  color: #333232;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image") repeat-x top #dad9d9;
  font: 10pt Calibri, Tahoma, Arial;
  border: 1px solid White;
  padding: 0px 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}

/* line 102, ../sass/partials/gr_gray/_gr-gray-edit.scss */
.GrGrayEditBGButton {
  padding: 1px 2px;
}

/* line 107, ../sass/partials/gr_gray/_gr-gray-edit.scss */
.GrGrayEditBGHover .GrGrayEditBGButtonHover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image") repeat-x top #beceff;
}
/* line 110, ../sass/partials/gr_gray/_gr-gray-edit.scss */
.GrGrayEditBGHover .GrGrayEditBGButtonPressed {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image") repeat-x top #f0efef;
}

/* line 115, ../sass/partials/gr_gray/_gr-gray-edit.scss */
.GrGrayEditBGFocus .GrGrayEditBGButtonPressed {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image") repeat-x top #f0efef;
}

/* ======== GGARY BUTTON ======== */
/* line 2, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButton {
  text-shadow: 1px 1px white;
  color: #232222;
  font: 10pt Calibri, Tahoma, Arial;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image") repeat-x top #dad9d9;
  border: 1px solid #c7c6c6;
  padding: 2px 4px;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonT {
  text-shadow: 1px 1px white;
  color: #232222;
  font: 10pt Calibri, Tahoma, Arial;
  background-color: transparent;
  border-style: none;
  padding: 3px 5px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonHover, .GrGrayButtonTHover, .GrGrayButtonTPressed {
  color: Black;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image") repeat-x top #beceff;
  border: 1px solid #4170ff;
  padding: 2px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 33, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonPressed {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image") repeat-x top #f0efef;
  border: 1px solid #9d9999;
  padding: 2px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 47, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonDisabled,
.GrGrayButtonTDisabled,
.GrGrayButton[disabled],
.GrGrayButtonT[disabled] {
  color: #8a8888;
}

/* line 51, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonDD {
  text-shadow: 1px 1px white;
  color: #232222;
  font: 10pt Calibri, Tahoma, Arial;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image") repeat-x top #dad9d9;
  border: 1px solid #a5a3a3;
  padding: 0px;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 61, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonTDD {
  text-shadow: 1px 1px white;
  color: #232222;
  font: 10pt Calibri, Tahoma, Arial;
  background-color: transparent;
  border-style: none;
  padding: 1px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 70, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonDDHover, .GrGrayButtonTDDHover {
  color: Black;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image") repeat-x top #beceff;
  border: 1px solid #4170ff;
  padding: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 82, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonDDPressed {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image") repeat-x top #f0efef;
  border: 1px solid #9d9999;
  padding: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 92, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonDDDisabled, .GrGrayButtonTDDDisabled {
  color: #8a8888;
}

/* line 99, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonDDContent,
.GrGrayButtonDDSplitContent,
.GrGrayButtonTDDContent,
.GrGrayButtonTDDSplitContent {
  padding: 2px 4px;
  cursor: default;
}

/* line 107, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonDDDropdown,
.GrGrayButtonDDSplitDropdown,
.GrGrayButtonTDDDropdown,
.GrGrayButtonTDDSplitDropdown {
  padding: 2px;
  cursor: default;
}

/* line 113, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonDDHover .GrGrayButtonDDSplitContent, .GrGrayButtonTDDHover .GrGrayButtonDDSplitContent {
  border-right: 1px solid White;
  padding-right: 3px;
}

/* line 120, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonTDDHover .GrGrayButtonTDDSplitContent {
  border-right: 1px solid White;
  padding-right: 3px;
}

/* line 128, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonDDPressed .GrGrayButtonDDSplitContent {
  border-right: 1px solid #f5f4f4;
  padding-right: 3px;
}

/* line 135, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonTDDPressed .GrGrayButtonTDDSplitContent {
  border-right: 1px solid #f5f4f4;
  padding-right: 3px;
}

/* line 143, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonDDHover .GrGrayButtonDDSplitDropdown, .GrGrayButtonTDDHover .GrGrayButtonDDSplitDropdown {
  border-left: 1px solid #93aeff;
  padding-left: 1px;
}

/* line 150, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonTDDHover .GrGrayButtonTDDSplitDropdown {
  border-left: 1px solid #93aeff;
  padding-left: 1px;
}

/* line 157, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonDDPressed .GrGrayButtonDDSplitDropdown {
  border-left: 1px solid #c3c3c3;
  padding-left: 1px;
}

/* line 164, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonTDDPressed GrGrayButtonTDDSplitDropdown {
  border-left: 1px solid #c3c3c3;
  padding-left: 1px;
}

/* line 171, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonDDHover .GrGrayButtonDDSplitDropdownHover, .GrGrayButtonTDDHover .GrGrayButtonDDSplitDropdownHover {
  background: url("images/a5generated/box/size/1x10/fill/Gradient_Horizontal/.HTML-White/.%23229%2c228%2c228.png.a5image") repeat-x top #cedafe;
  border-left: 1px solid #4170ff;
  padding: 2px;
  padding-left: 1px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 181, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonTDDHover .GrGrayButtonTDDSplitDropdownHover {
  background: url("images/a5generated/box/size/1x10/fill/Gradient_Horizontal/.HTML-White/.%23229%2c228%2c228.png.a5image") repeat-x top #cedafe;
  border-left: 1px solid #4170ff;
  padding: 2px;
  padding-left: 1px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 190, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonGroupHF {
  border-right-style: none;
  margin-right: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 197, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonGroupHM {
  border-right-style: none;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
}

/* line 204, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonGroupHL {
  margin-left: 0px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 209, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonGroupVF {
  border-bottom-style: none;
  margin-bottom: 0px;
  display: block;
  width: 100%;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 217, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonGroupVM {
  border-bottom-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  display: block;
  width: 100%;
  border-radius: 0px;
}

/* line 226, ../sass/partials/gr_gray/_gr-gray-button.scss */
.GrGrayButtonGroupVL {
  margin-top: 0px;
  display: block;
  width: 100%;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* ======== Gr GRAY SLIDER ======== */
/* line 2, ../sass/partials/gr_gray/_gr-gray-slider.scss */
.GrGraySliderH {
  padding: 6px;
}

/* line 6, ../sass/partials/gr_gray/_gr-gray-slider.scss */
.GrGraySliderHInner {
  background: url("images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image") repeat-x top #fdfcfc;
  font: 0pt arial;
  border: 1px solid #c3c3c3;
  height: 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 14, ../sass/partials/gr_gray/_gr-gray-slider.scss */
.GrGraySliderHHandle {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242+242+242/.%23217+216+216.png.a5image") repeat-x top;
  font-size: 0pt;
  border: 1px solid #c7c6c6;
  margin-top: -6px;
  margin-left: -6px;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 24, ../sass/partials/gr_gray/_gr-gray-slider.scss */
.GrGraySliderHRange {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242+242+242/.%23217+216+216.png.a5image") repeat-x top;
  font-size: 0pt;
  border: 1px solid #c3c3c3;
  margin: -1px;
  height: 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 33, ../sass/partials/gr_gray/_gr-gray-slider.scss */
.GrGraySliderHHandleHover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image") repeat-x top #beceff;
  border-color: #93aeff;
}

/* line 38, ../sass/partials/gr_gray/_gr-gray-slider.scss */
.GrGraySliderHHandleSelected {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image") repeat-x top #b2c5ff;
  border-color: #4170ff;
}

/* line 43, ../sass/partials/gr_gray/_gr-gray-slider.scss */
.GrGraySliderHRangeHover {
  background: url("images/a5generated/box/size/1x28/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image") repeat-x top #beceff;
  border-color: #93aeff;
}

/* line 48, ../sass/partials/gr_gray/_gr-gray-slider.scss */
.GrGraySliderHRangeSelected {
  background: url("images/a5generated/box/size/1x28/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image") repeat-x top #b2c5ff;
  border-color: #4170ff;
}

/* ========   Gr GRAY SWITCH ======== */
/* line 2, ../sass/partials/gr_gray/_gr-gray-switch.scss */
.GrGraySwitch {
  color: #333232;
  background: url("images/a5generated/box/size/1x28/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image") repeat-x top #fdfcfc;
  border: 1px solid #c3c3c3;
  cursor: default;
  height: 28px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 11, ../sass/partials/gr_gray/_gr-gray-switch.scss */
.GrGraySwitchOn {
  color: black;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image") repeat-x top #f0efef;
}

/* line 18, ../sass/partials/gr_gray/_gr-gray-switch.scss */
.GrGraySwitchInner {
  margin: 0px 14px;
}

/* line 22, ../sass/partials/gr_gray/_gr-gray-switch.scss */
.GrGraySwitchRight {
  text-align: center;
  padding: 4px;
  padding-left: 32px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, ../sass/partials/gr_gray/_gr-gray-switch.scss */
.GrGraySwitchLeft {
  text-align: center;
  padding: 4px;
  padding-right: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 37, ../sass/partials/gr_gray/_gr-gray-switch.scss */
.GrGraySwitchButton {
  background: url("images/a5generated/box/size/1x28/fill/Gradient_Horizontal/.%23242+242+242/.%23217+216+216.png.a5image") repeat-x top;
  border: 1px solid #c7c6c6;
  margin-top: -1px;
  margin-left: -15px;
  width: 28px;
  height: 28px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* ======== Gr GRAY LIST ======== */
/* line 2, ../sass/partials/gr_gray/_gr-gray-list.scss */
.GrGrayList {
  background: url("images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image") repeat-x top #fdfcfc;
  font: 10pt Calibri, Tahoma, Arial;
  border: 1px solid #c3c3c3;
  padding: 0px;
  overflow: auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/partials/gr_gray/_gr-gray-list.scss */
.GrGrayListItem {
  text-decoration: none;
  color: black;
  padding: 2px 4px;
  margin: 1px;
  display: block;
  cursor: default;
  outline: none;
}

/* line 22, ../sass/partials/gr_gray/_gr-gray-list.scss */
.GrGrayListItemHover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image") repeat-x top #cad7fe;
  border: 1px solid #93aeff;
  padding: 1px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 29, ../sass/partials/gr_gray/_gr-gray-list.scss */
.GrGrayListItemSelected {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image") repeat-x top #b2c5ff;
  border: 1px solid #93aeff;
  padding: 1px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 36, ../sass/partials/gr_gray/_gr-gray-list.scss */
.GrGrayListItemLabelMain {
  font-size: 125%;
  font-weight: bold;
}

/* line 41, ../sass/partials/gr_gray/_gr-gray-list.scss */
.GrGrayListItemLabelSub {
  font-weight: bold;
}

/* line 45, ../sass/partials/gr_gray/_gr-gray-list.scss */
.GrGrayListItemLabelContext {
  color: #767575;
  font-style: italic;
}

/* line 50, ../sass/partials/gr_gray/_gr-gray-list.scss */
.GrGrayListItemLabelDetail {
  color: white;
  background-color: #9d9999;
  padding: 2px 10px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}

/* line 57, ../sass/partials/gr_gray/_gr-gray-list.scss */
.GrGrayListItemContent {
  color: #595959;
}

/* line 61, ../sass/partials/gr_gray/_gr-gray-list.scss */
.GrGrayListTitle {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  border: 1px none #d9d8d8;
  border-top-style: solid;
  border-bottom-style: solid;
  padding: 2px 4px;
}

/* line 69, ../sass/partials/gr_gray/_gr-gray-list.scss */
.GrGrayListSeparator {
  border: 1px none #d9d8d8;
  border-top-style: solid;
  margin: 0px;
}

/* line 75, ../sass/partials/gr_gray/_gr-gray-list.scss */
.GrGrayListHeader {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  border: 1px none #c3c3c3;
  border-bottom-style: solid;
}

/* line 81, ../sass/partials/gr_gray/_gr-gray-list.scss */
.GrGrayListHeaderItem {
  padding: 4px 6px;
  cursor: default;
}

/* line 86, ../sass/partials/gr_gray/_gr-gray-list.scss */
.GrGrayListHeaderItemHover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image") repeat-x top #beceff;
}

/* ======== Gr GRAY LIST ======== */
/* line 2, ../sass/partials/gr_gray/_gr-gray-tree.scss */
.GrGrayTree {
  background: url("images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image") repeat-x top #fdfcfc;
  font: 10pt Calibri, Tahoma, Arial;
  border: 1px solid #c3c3c3;
  padding: 2px;
  overflow: auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/partials/gr_gray/_gr-gray-tree.scss */
.GrGrayTreeNode {
  text-decoration: none;
  color: Black;
  padding: 2px 4px;
  margin: 1px;
  display: block;
  cursor: default;
  outline: none;
}

/* line 22, ../sass/partials/gr_gray/_gr-gray-tree.scss */
.GrGrayTreeNodeHover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image") repeat-x top #cad7fe;
  border: 1px solid #93aeff;
  padding: 1px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 29, ../sass/partials/gr_gray/_gr-gray-tree.scss */
.GrGrayTreeNodeSelected {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image") repeat-x top #b2c5ff;
  border: 1px solid #93aeff;
  padding: 1px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 36, ../sass/partials/gr_gray/_gr-gray-tree.scss */
.GrGrayTreeNodeLabel {
  text-decoration: none;
  color: black;
  cursor: default;
  outline: none;
}

/* ======== Gr GRAY DP ======== */
/* line 2, ../sass/partials/gr_gray/_gr-gray-dp.scss */
.GrGrayDP {
  color: Black;
  background-color: white;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 9, ../sass/partials/gr_gray/_gr-gray-dp.scss */
.GrGrayDPHeader {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  border: 1px none #c3c3c3;
  border-bottom-style: solid;
  padding: 2px 4px;
}

/* line 16, ../sass/partials/gr_gray/_gr-gray-dp.scss */
.GrGrayDPHeaderButton {
  text-decoration: none;
  text-shadow: 1px 1px white;
  color: #4c4c4c;
  padding: 2px 4px;
  margin: 1px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  cursor: default;
  outline: none;
}

/* line 27, ../sass/partials/gr_gray/_gr-gray-dp.scss */
.GrGrayDPHeaderButtonHover {
  color: black;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image") repeat-x top #beceff;
  border: 1px solid #4170ff;
  padding: 1px 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 35, ../sass/partials/gr_gray/_gr-gray-dp.scss */
.GrGrayDPHeaderButtonSelected {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image") repeat-x top #f0efef;
  border: 1px solid #9d9999;
  padding: 1px 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 42, ../sass/partials/gr_gray/_gr-gray-dp.scss */
.GrGrayDPItem {
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 2px 4px;
  margin: 1px;
  display: block;
  cursor: default;
  outline: none;
}

/* line 53, ../sass/partials/gr_gray/_gr-gray-dp.scss */
.GrGrayDPItemHover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image") repeat-x top #cad7fe;
  border: 1px solid #9d9999;
  padding: 1px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 60, ../sass/partials/gr_gray/_gr-gray-dp.scss */
.GrGrayDPItemSelected {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image") repeat-x top #b2c5ff;
  border: 1px solid #9d9999;
  padding: 1px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 67, ../sass/partials/gr_gray/_gr-gray-dp.scss */
.GrGrayDPItemOutOfRange {
  color: #595959;
}

/* line 71, ../sass/partials/gr_gray/_gr-gray-dp.scss */
.GrGrayDPItemDisabled {
  color: #b2b2b2;
}

/* line 75, ../sass/partials/gr_gray/_gr-gray-dp.scss */
.GrGrayDPPanel {
  background-color: #fdfcfc;
  padding: 2px;
}

/* line 80, ../sass/partials/gr_gray/_gr-gray-dp.scss */
.GrGrayDPDaysOfWeek {
  background: url("images/a5generated/box/size/1x5/fill/Gradient_Horizontal/.%23220%2c217%2c217/.%23238%2c236%2c236.png.a5image") repeat-x top #eae9e9;
  border: 1px none #c3c3c3;
  border-bottom-style: solid;
  padding: 2px 4px;
}

/* line 87, ../sass/partials/gr_gray/_gr-gray-dp.scss */
.GrGrayDPWeeksOfYear {
  background-color: #eae9e9;
  border-right: 1px solid #c3c3c3;
}

/* line 92, ../sass/partials/gr_gray/_gr-gray-dp.scss */
.GrGrayDPWeeksOfYearHeader {
  border-bottom-style: none;
}

/* line 96, ../sass/partials/gr_gray/_gr-gray-dp.scss */
.GrGrayDPDate {
  background-color: #fdfcfc;
  padding: 2px;
}

/* line 101, ../sass/partials/gr_gray/_gr-gray-dp.scss */
.GrGrayDPDateWeekend {
  background: url("images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23246%2c244%2c244/.%23238%2c236%2c236.png.a5image") repeat center #efeded;
  padding: 2px;
}

/* line 106, ../sass/partials/gr_gray/_gr-gray-dp.scss */
.GrGrayDPDateToday {
  background: url("images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23237%2c235%2c235/.%23230%2c226%2c226.png.a5image") repeat center #e6e3e3;
  padding: 2px;
}

/* ======== Gr GRAY TP ======== */
/* line 2, ../sass/partials/gr_gray/_gr-gray-tp.scss */
.GrGrayTP .GrGrayEdit {
  text-align: center;
  background: url("images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image") repeat-x top #fdfcfc;
  font: 10pt Calibri, Tahoma, Arial;
  border: 1px solid #c3c3c3;
  border-bottom-style: none;
  padding: 3px;
  margin: 0px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}

/* line 13, ../sass/partials/gr_gray/_gr-gray-tp.scss */
.GrGrayTPEditButton {
  text-align: center;
  text-decoration: none;
  background-color: #f9f9f9;
  border: 1px solid #c3c3c3;
  border-top-style: none;
  padding: 2px;
  display: block;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline: none;
}
/* line 23, ../sass/partials/gr_gray/_gr-gray-tp.scss */
.GrGrayTPEditButton:hover {
  background: url("images/a5generated/box/size/1x8/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image") repeat-x top #beceff;
  border-top-style: solid;
  padding-top: 1px;
}

/* line 30, ../sass/partials/gr_gray/_gr-gray-tp.scss */
.GrGrayTPMeridianButton {
  text-decoration: none;
  text-shadow: 1px 1px white;
  color: #333232;
  padding: 2px 3px;
  margin-left: 2px;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  outline: none;
}
/* line 39, ../sass/partials/gr_gray/_gr-gray-tp.scss */
.GrGrayTPMeridianButton:hover {
  text-shadow: 1px 1px white;
  color: black;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23233%2c238%2c254/.%23188%2c204%2c254.png.a5image") repeat-x top #beceff;
  border: 1px solid #4170ff;
  padding: 1px 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* ======== Gr GRAY DIALOG ======== */
/* line 2, ../sass/partials/gr_gray/_gr-gray-dialog.scss */
.GrGrayDialogLabel {
  padding: 2px;
}

/* line 8, ../sass/partials/gr_gray/_gr-gray-dialog.scss */
.GrGrayDialogRSFooter {
  text-align: right;
  border-top: 1px dotted #c3c3c3;
  padding-top: 2px;
}

/* line 14, ../sass/partials/gr_gray/_gr-gray-dialog.scss */
.GrGrayDialogRSRow {
  padding: 3px;
}

/* line 18, ../sass/partials/gr_gray/_gr-gray-dialog.scss */
.GrGrayDialogRSRowSelected {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.White/.%23236%2c240%2c255.png.a5image") repeat-x top #ecf0ff;
  border: 1px solid #beceff;
  padding: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 25, ../sass/partials/gr_gray/_gr-gray-dialog.scss */
.GrGrayDialogRSRowHover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23253%2c254%2c255/.%23243%2c246%2c255.png.a5image") repeat-x top #f3f6ff;
  border: 1px solid #beceff;
  padding: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 32, ../sass/partials/gr_gray/_gr-gray-dialog.scss */
.GrGrayDialogRSRowError {
  color: #fe0000;
  background: url("images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image") repeat center #ffdada;
  border: 1px solid #fe0000;
  adding: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 40, ../sass/partials/gr_gray/_gr-gray-dialog.scss */
.GrGrayDialogRSSeparator {
  border-top: 1px dotted #c3c3c3;
  margin-top: 5px;
  line-height: 5px;
}

/* line 1, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGrid {
  color: black;
  background-color: white;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 8, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGridHeader {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  border: 1px none #c3c3c3;
  border-bottom-style: solid;
  padding: 4px 6px;
}

/* line 15, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGridFooter {
  background: url("images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23217%2c215%2c215/.%23242%2c241%2c241.png.a5image") repeat-x top #ebeaea;
  border: 1px none #c3c3c3;
  border-top-style: solid;
  padding: 4px 6px;
}

/* line 22, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGridSummaryLabel {
  color: Gray;
  background-color: #fdfcfc;
  padding: 2px;
}

/* line 28, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGridSummaryData {
  background-color: #fdfcfc;
  padding: 2px;
}

/* line 33, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGridQBE {
  background-color: #f2f1f1;
}

/* line 37, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGridSeparator {
  background-color: white;
  font-size: 0px;
  padding: 0px;
  margin: 0px;
  height: 1px;
}

/* line 45, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGridRowHeader {
  background-color: #f2f1f1;
}

/* line 49, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGridDataHeader {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c252%2c252/.%23242%2c241%2c241.png.a5image") repeat-x top #f2f1f1;
  border: 1px solid #c3c3c3;
  border-left-style: none;
  border-right-style: none;
  padding: 4px 6px;
}

/* line 57, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGridData {
  background-color: #fdfcfc;
  padding: 2px;
}

/* line 62, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGridDataAlt {
  background-color: #f5f4f4;
  padding: 2px;
}

/* line 68, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGridRowHover .GrGrayGridDataAlt, .GrGrayGridRowHover .GrGrayGridData {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image") repeat-x top #cad7fe;
  border: 1px none #93aeff;
  border-top-style: solid;
  border-bottom-style: solid;
  padding: 1px 2px;
}

/* line 78, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGridRowSelected .GrGrayGridDataAlt, .GrGrayGridRowSelected .GrGrayGridData {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image") repeat-x top #b2c5ff;
  border: 1px none #93aeff;
  border-top-style: solid;
  border-bottom-style: solid;
  padding: 1px 2px;
}

/* line 87, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGridDataError {
  color: #fe0000;
  background: url("images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image") repeat center #ffdada;
  font: 10pt Calibri, Tahoma, Arial;
}

/* line 93, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGridHeader .GrGrayLink {
  text-decoration: none;
  text-shadow: 1px 1px white;
}
/* line 96, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGridHeader .GrGrayLink:hover {
  text-decoration: underline;
  color: #353535;
}

/* line 104, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGridFormLabel, .GrGrayGridFormData {
  padding: 2px;
}

/* line 108, ../sass/partials/gr_gray/_gr-gray-grid.scss */
.GrGrayGridFormDataError {
  color: #fe0000;
  background: url("images/a5generated/box/size/8x8/fill/Up_Diagonal/.%23255%2c195%2c195/.%23255%2c218%2c218.png.a5image") repeat center #ffdada;
  font: 10pt Calibri, Tahoma, Arial;
}

/* ======== Gr GRAY MENU ======== */
/* line 2, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenu {
  color: Black;
  background-color: #f2f1f1;
  border: 1px solid #a5a3a3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 6px #aaaaaa;
  -moz-box-shadow: 3px 3px 6px #aaaaaa;
  box-shadow: 3px 3px 6px #aaaaaa;
}

/* line 11, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenuInner {
  border: 1px solid white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 16, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenuIconColumn {
  background: url("MenuIconColBack.png") repeat-y left;
}

/* line 20, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenuNoIndent {
  background-color: #f2f1f1;
}

/* line 24, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenuItem {
  text-decoration: none;
  white-space: nowrap;
  color: Black;
  padding: 2px;
  margin: 1px;
  display: block;
  cursor: default;
  outline: none;
}

/* line 35, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenuItemHover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image") repeat-x top #cad7fe;
  border: 1px solid #93aeff;
  padding: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 42, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenuItemSelected {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image") repeat-x top #b2c5ff;
  border: 1px solid #93aeff;
  padding: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 49, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenuItemDisabled {
  color: #8c8c8c;
}

/* line 53, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenuItemDisabledHover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c249%2c249/.%23232%2c231%2c231.png.a5image") repeat-x top #e8e7e7;
  border: 1px solid #cdcaca;
  padding: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 60, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenuItem .GrGrayMenuItemCascade {
  background: url("MenuCascade.png") no-repeat right;
  padding-right: 18px;
}

/* line 65, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenuItemDisabled .GrGrayMenuItemCascade {
  background: url("MenuCascadeDisabled.png") no-repeat right;
}

/* line 69, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenuSeparator {
  font-size: 0px;
  border-style: none;
  border-top: 1px solid #93aeff;
  border-bottom: 1px solid white;
  padding: 0px;
}

/* line 77, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenuTitle {
  color: Gray;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23244%2c242%2c242/.%23233%2c230%2c230.png.a5image") repeat-x top #e9e6e6;
  border: 1px none #93aeff;
  border-top-style: solid;
  border-bottom-style: solid;
  padding: 1px 3px;
}

/* line 86, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenuItemHover .GrGrayMenuItemCascade {
  background: url("MenuCascadeHover.png") no-repeat right;
}

/* line 90, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarHItem {
  text-decoration: none;
  white-space: nowrap;
  color: Black;
  padding: 2px 4px;
  margin: 1px;
  display: block;
  cursor: default;
  outline: none;
}

/* line 101, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarHItemHover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image") repeat-x top #cad7fe;
  border: 1px solid #93aeff;
  padding: 1px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 108, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarHItemPressed {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image") repeat-x top #b2c5ff;
  border: 1px solid #93aeff;
  padding: 1px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 115, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarHItemDisabled {
  color: #8c8c8c;
}

/* line 119, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarHSeparator {
  font-size: 0px;
  border-style: none;
  border-left: 1px solid #93aeff;
  border-right: 1px solid white;
  padding: 0px;
  vertical-align: middle;
  height: 10pt;
}

/* line 129, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarHItemCascade {
  background: url("MenubarHCascade.png") no-repeat right;
  padding-right: 12px;
}

/* line 135, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarHItemHover .GrGrayMenubarHItemCascade {
  background-image: url("MenubarHCascadeHover.png");
}

/* line 139, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarHItemPressed .GrGrayMenubarHItemCascade {
  background-image: url("MenubarHCascadePressed.png");
}

/* line 143, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarHItemDisabled .GrGrayMenubarHItemCascade {
  background-image: url("MenubarHCascadeDisabled.png");
}

/* line 146, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarVItem {
  text-decoration: none;
  white-space: nowrap;
  color: Black;
  padding: 2px 4px;
  margin: 1px;
  display: block;
  cursor: default;
  outline: none;
}

/* line 157, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarVItemHover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23242%2c245%2c254/.%23200%2c214%2c254.png.a5image") repeat-x top #cad7fe;
  border: 1px solid #93aeff;
  padding: 1px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 164, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarVItemPressed {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image") repeat-x top #b2c5ff;
  border: 1px solid #93aeff;
  padding: 1px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 171, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarVItemDisabled {
  color: #8c8c8c;
}

/* line 175, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarVSeparator {
  font-size: 0px;
  border-style: none;
  border-top: 1px solid #93aeff;
  border-bottom: 1px solid white;
  padding: 0px;
}

/* line 183, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarVItemCascade {
  background: url("MenubarVCascade.png") no-repeat right;
  padding-right: 10px;
}

/* line 189, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarVItemHover .GrGrayMenubarVItemCascade {
  background-image: url("MenubarVCascadeHover.png");
}

/* line 193, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarVItemPressed .GrGrayMenubarVItemCascade {
  background-image: url("MenubarVCascadePressed.png");
}

/* line 197, ../sass/partials/gr_gray/_gr-gray-menu.scss */
.GrGrayMenubarVItemDisabled .GrGrayMenubarVItemCascade {
  background-image: url("MenubarVCascadeDisabled.png");
}

/* ======== Gr GRAY WIN ======== */
/* line 2, ../sass/partials/gr_gray/_gr-gray-win.scss */
.GrGrayWin {
  color: Black;
  background: url("images/a5generated/box/size/1x100/fill/Gradient_Horizontal/.%23235%2c234%2c234/.%23191%2c190%2c190.png.a5image") repeat-x top #bfbebe;
  font: 10pt Calibri, Tahoma, Arial;
  border: 1px solid #a5a3a3;
  -webkit-box-shadow: 0 0 6px #888585;
  -moz-box-shadow: 0 0 6px #888585;
  box-shadow: 0 0 6px #888585;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 11, ../sass/partials/gr_gray/_gr-gray-win.scss */
.GrGrayWinActive {
  background: url("images/a5generated/box/size/1x100/fill/Gradient_Horizontal/.%23217%2c216%2c216/.%23191%2c190%2c190.png.a5image") repeat-x top #bfbebe;
  border-color: #a5a3a3;
  -webkit-box-shadow: 0 0 8px #8a8888;
  -moz-box-shadow: 0 0 8px #8a8888;
  box-shadow: 0 0 8px #8a8888;
}

/* line 19, ../sass/partials/gr_gray/_gr-gray-win.scss */
.GrGrayWinInner {
  border: 1px solid #f0efef;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 24, ../sass/partials/gr_gray/_gr-gray-win.scss */
.GrGrayWinTitle {
  text-shadow: white 0px 0px 3px;
  font-weight: bold;
  padding: 2px 4px;
  cursor: move;
}

/* line 31, ../sass/partials/gr_gray/_gr-gray-win.scss */
.GrGrayWinBodyContainer {
  border: 1px solid #f0efef;
  margin: 3px;
}

/* line 36, ../sass/partials/gr_gray/_gr-gray-win.scss */
.GrGrayWinTBar {
  background-color: #f5f4f4;
  border: 1px solid #a5a3a3;
  border-bottom-style: none;
  padding: 2px;
}

/* line 43, ../sass/partials/gr_gray/_gr-gray-win.scss */
.GrGrayWinBody {
  background-color: #fdfcfc;
  border: 1px solid #a5a3a3;
  padding: 2px;
  overflow: auto;
}

/* line 50, ../sass/partials/gr_gray/_gr-gray-win.scss */
.GrGrayWinButtons {
  text-align: right;
  background: url("images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23217%2c215%2c215/.%23242%2c241%2c241.png.a5image") repeat-x top #ebeaea;
  border: 1px solid #a5a3a3;
  border-top-style: none;
  padding: 2px 4px;
}

/* line 58, ../sass/partials/gr_gray/_gr-gray-win.scss */
.GrGrayWinBBar {
  background-color: #f5f4f4;
  border: 1px solid #a5a3a3;
  border-top-style: none;
  padding: 2px;
}

/* line 65, ../sass/partials/gr_gray/_gr-gray-win.scss */
.GrGrayWinHeader, .GrGrayWinFooter {
  padding: 2px 4px;
}

/* line 70, ../sass/partials/gr_gray/_gr-gray-win.scss */
.GrGrayWinActive .GrGrayWinInner {
  border: 1px solid #fdfcfc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 74, ../sass/partials/gr_gray/_gr-gray-win.scss */
.GrGrayWinActive .GrGrayWinBodyContainer {
  border-color: #fdfcfc;
}
/* line 77, ../sass/partials/gr_gray/_gr-gray-win.scss */
.GrGrayWinActive .GrGrayWinTBar, .GrGrayWinActive .GrGrayWinBody, .GrGrayWinActive .GrGrayWinButtons, .GrGrayWinActive .GrGrayWinBBar {
  border-color: #a5a3a3;
}

/* line 82, ../sass/partials/gr_gray/_gr-gray-win.scss */
.GrGrayWinResizer {
  background: url("images/a5generated/box/size/1x8/fill/Gradient_Horizontal/.%23191%2c190%2c190/.%23217%2c216%2c216.png.a5image") repeat-x bottom #bfbebe;
  font-size: 1px;
  cursor: s-resize;
  height: 10px;
}

/* ======== Gr GRAY DDWIN ======== */
/* line 2, ../sass/partials/gr_gray/_gr-gray-ddwin.scss */
.GrGrayDDWin {
  color: Black;
  background-color: #f2f1f1;
  font: 10pt Calibri, Tahoma, Arial;
  border: 1px solid #a5a3a3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 6px #aaaaaa;
  -moz-box-shadow: 3px 3px 6px #aaaaaa;
  box-shadow: 3px 3px 6px #aaaaaa;
}

/* line 13, ../sass/partials/gr_gray/_gr-gray-ddwin.scss */
.GrGrayDDWinInner {
  border: 1px solid White;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 18, ../sass/partials/gr_gray/_gr-gray-ddwin.scss */
.GrGrayDDWinTitle {
  text-shadow: white 0px 0px 3px;
  font-weight: bold;
  padding: 2px 4px;
  cursor: move;
}

/* line 25, ../sass/partials/gr_gray/_gr-gray-ddwin.scss */
.GrGrayDDWinHeader {
  padding: 2px 4px;
}

/* line 29, ../sass/partials/gr_gray/_gr-gray-ddwin.scss */
.GrGrayDDWinBody {
  background: url("images/a5generated/box/size/1x4/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23253%2c252%2c252.png.a5image") repeat-x top #fdfcfc;
  font: 10pt Calibri, Tahoma, Arial;
  padding: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 36, ../sass/partials/gr_gray/_gr-gray-ddwin.scss */
.GrGrayDDWinButtons {
  text-align: right;
  border-top: 1px solid #c3c3c3;
  padding: 2px 4px;
}

/* line 42, ../sass/partials/gr_gray/_gr-gray-ddwin.scss */
.GrGrayDDWinFooter {
  padding: 2px 4px;
}

/* line 46, ../sass/partials/gr_gray/_gr-gray-ddwin.scss */
.GrGrayDDWinResizer {
  background: url("images/a5generated/box/size/1x8/fill/Gradient_Horizontal/.%23242%2c241%2c241/.%23219%2c218%2c218.png.a5image") repeat-x top #dddcdc;
  font-size: 1px;
  border-top: 1px solid #c3c3c3;
  cursor: s-resize;
  height: 10px;
}

/* line 54, ../sass/partials/gr_gray/_gr-gray-ddwin.scss */
.GrGrayDDWinBBar {
  padding: 2px 4px;
}

/* line 58, ../sass/partials/gr_gray/_gr-gray-ddwin.scss */
.GrGrayDDWinTBar {
  border-bottom: 1px solid #c3c3c3;
  padding: 2px 4px;
}

/* ========  Gr GRAY WIN POINTER ======== */
/* line 2, ../sass/partials/gr_gray/_gr-gray-winpointer.scss */
.GrGrayWinPointerDown, .GrGrayDDWinPointerDown, .GrGrayMenuPointerDown {
  border-top: 10px solid #a5a3a3;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: -10px;
  left: 50%;
  width: 0;
  height: 0;
  bottom: -10px;
}

/* line 12, ../sass/partials/gr_gray/_gr-gray-winpointer.scss */
.GrGrayWinPointerUp, .GrGrayDDWinPointerUp, .GrGrayMenuPointerUp {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #a5a3a3;
  margin-left: -10px;
  top: -10px;
  left: 50%;
  width: 0;
  height: 0;
}

/* line 22, ../sass/partials/gr_gray/_gr-gray-winpointer.scss */
.GrGrayWinPointerLeft, .GrGrayDDWinPointerLeft, .GrGrayMenuPointerLeft {
  border-top: 10px solid transparent;
  border-right: 10px solid #a5a3a3;
  border-bottom: 10px solid transparent;
  margin-top: -10px;
  top: 50%;
  left: -10px;
  width: 0;
  height: 0;
}

/* line 32, ../sass/partials/gr_gray/_gr-gray-winpointer.scss */
.GrGrayWinPointerRight, .GrGrayDDWinPointerRight, .GrGrayMenuPointerRight {
  border-top: 10px solid transparent;
  border-left: 10px solid #a5a3a3;
  border-bottom: 10px solid transparent;
  margin-top: -10px;
  top: 50%;
  right: -10px;
  width: 0;
  height: 0;
}

/* ======== Gr GRAY WIN PANEL ======== */
/* line 2, ../sass/partials/gr_gray/_gr-gray-panel.scss */
.GrGrayPanelHeader {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c252%2c252/.%23242%2c241%2c241.png.a5image") repeat-x top #f2f1f1;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  padding: 4px 6px;
}

/* line 9, ../sass/partials/gr_gray/_gr-gray-panel.scss */
.GrGrayPanelBody {
  background-color: #fdfcfc;
  border-right: 1px solid #c3c3c3;
  padding: 4px;
}

/* line 15, ../sass/partials/gr_gray/_gr-gray-panel.scss */
.GrGrayPanelFooter {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c252%2c252/.%23242%2c241%2c241.png.a5image") repeat-x top #f2f1f1;
  border-top: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  padding: 4px 6px;
}

/* line 23, ../sass/partials/gr_gray/_gr-gray-panel.scss */
.GrGrayPanelOverlay:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  width: 2px;
  height: 100%;
  left: -3px;
  border-right: #c3c3c3 1px solid;
  background: rgba(0, 0, 0, 0.1);
}
/* line 34, ../sass/partials/gr_gray/_gr-gray-panel.scss */
.GrGrayPanelOverlay:after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  width: 2px;
  height: 100%;
  right: -3px;
  border-left: #c3c3c3 1px solid;
  background: rgba(0, 0, 0, 0.1);
}

/* line 47, ../sass/partials/gr_gray/_gr-gray-panel.scss */
.GrGrayPanelTopHeader {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  padding: 4px 6px;
}

/* line 54, ../sass/partials/gr_gray/_gr-gray-panel.scss */
.GrGrayPanelTopBody {
  background-color: #fdfcfc;
  border-right: 1px solid #c3c3c3;
  padding: 4px;
}

/* line 60, ../sass/partials/gr_gray/_gr-gray-panel.scss */
.GrGrayPanelTopFooter {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  border-top: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  padding: 4px 6px;
}

/* line 67, ../sass/partials/gr_gray/_gr-gray-panel.scss */
.GrGrayPanelNavIndButton {
  background: url("images/a5generated/box/size/1x10/fill/Gradient_Horizontal/.%23241%2c241%2c241/.%23217%2c216%2c216.png.a5image") repeat-x top #dad9d9;
  border: 1px solid #c7c6c6;
  margin: 2px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

/* line 76, ../sass/partials/gr_gray/_gr-gray-panel.scss */
.GrGrayPanelNavIndButtonSelected {
  background: url("images/a5generated/box/size/1x10/fill/Gradient_Horizontal/.%23216%2c216%2c216/.%23242%2c240%2c240.png.a5image") repeat-x top #f0efef;
  border: 1px solid #9d9999;
}

/* ======== Gr GRAY WIN ACCORDION ======== */
/* line 4, ../sass/partials/gr_gray/_gr-gray-accordion.scss */
.GrGrayAccordionButton {
  border: 1px solid #a5a3a3;
  padding: 2px 4px;
  margin-bottom: 2px;
  text-decoration: none;
  display: block;
  color: black;
  cursor: default;
  text-shadow: 1px 1px white;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  outline: none;
}
/* line 9, ../sass/partials/gr_gray/_gr-gray-accordion.scss */
.GrGrayAccordionButton:hover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image") repeat-x top #efeded;
}

/* line 14, ../sass/partials/gr_gray/_gr-gray-accordion.scss */
.GrGrayAccordionButtonSelected {
  border: 1px solid #a5a3a3;
  padding: 2px 4px;
  margin-bottom: 2px;
  text-decoration: none;
  display: block;
  color: black;
  cursor: default;
  text-shadow: 1px 1px white;
  text-shadow: none;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c250%2c250/.%23238%2c236%2c236.png.a5image") repeat-x top #efeded;
  border-bottom-color: #d9d8d8;
  -moz-border-radius-topleft: 2px 2px 0px 0px;
  -webkit-border-top-left-radius: 2px 2px 0px 0px;
  border-top-left-radius: 2px 2px 0px 0px;
  -moz-border-radius-topright: 2px 2px 0px 0px;
  -webkit-border-top-right-radius: 2px 2px 0px 0px;
  border-top-right-radius: 2px 2px 0px 0px;
  outline: none;
}

/* line 24, ../sass/partials/gr_gray/_gr-gray-accordion.scss */
.GrGrayAccordionButtonDisabled {
  border: 1px solid #a5a3a3;
  padding: 2px 4px;
  margin-bottom: 2px;
  text-decoration: none;
  display: block;
  color: black;
  cursor: default;
  text-shadow: 1px 1px white;
  color: #888585;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  outline: none;
}

/* line 33, ../sass/partials/gr_gray/_gr-gray-accordion.scss */
.GrGrayAccordionPane {
  color: black;
  background-color: #fdfcfc;
  border: 1px solid #a5a3a3;
  border-top-style: none;
  padding: 2px;
  margin-top: -2px;
  margin-bottom: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* line 44, ../sass/partials/gr_gray/_gr-gray-accordion.scss */
.GrGrayAccordionIconButton {
  border: 1px solid #a5a3a3;
  padding: 2px 4px;
  padding-left: 20px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  position: relative;
  color: black;
  text-decoration: none;
  outline: none;
  text-shadow: 1px 1px white;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 51, ../sass/partials/gr_gray/_gr-gray-accordion.scss */
.GrGrayAccordionIconButton:before {
  position: absolute;
  top: 2px;
  left: 3px;
  content: url("Expand.png");
}
/* line 58, ../sass/partials/gr_gray/_gr-gray-accordion.scss */
.GrGrayAccordionIconButton:hover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image") repeat-x top #efeded;
}

/* line 63, ../sass/partials/gr_gray/_gr-gray-accordion.scss */
.GrGrayAccordionIconButtonSelected {
  border: 1px solid #a5a3a3;
  padding: 2px 4px;
  padding-left: 20px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  position: relative;
  color: black;
  text-decoration: none;
  outline: none;
  border-bottom-color: #d9d8d8;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23252%2c250%2c250/.%23238%2c236%2c236.png.a5image") repeat-x top #efeded;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
/* line 68, ../sass/partials/gr_gray/_gr-gray-accordion.scss */
.GrGrayAccordionIconButtonSelected:before {
  position: absolute;
  top: 2px;
  left: 3px;
  content: url("Collapse.png");
}

/* line 78, ../sass/partials/gr_gray/_gr-gray-accordion.scss */
.GrGrayAccordionIconButtonDisabled {
  border: 1px solid #a5a3a3;
  padding: 2px 4px;
  padding-left: 20px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  position: relative;
  color: black;
  text-decoration: none;
  outline: none;
  color: #888585;
  text-shadow: 1px 1px white;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* ======== Gr GRAY TAB ======== */
/* line 2, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabTButton {
  text-decoration: none;
  text-shadow: 1px 1px white;
  color: Black;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  border: 1px solid #c3c3c3;
  border-bottom-style: none;
  padding: 2px 4px;
  margin-right: 2px;
  margin-bottom: -1px;
  display: block;
  float: left;
  cursor: default;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline: none;
}
/* line 17, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabTButton:hover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image") repeat-x top #efeded;
  border-color: #a5a3a3;
}

/* line 23, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabTButtonSelected {
  text-decoration: none;
  text-shadow: 1px 1px white;
  color: Black;
  background-color: #fdfcfc;
  border: 1px solid #a5a3a3;
  border-bottom-style: none;
  padding: 2px 4px;
  padding-bottom: 3px;
  margin-right: 2px;
  margin-bottom: -1px;
  display: block;
  float: left;
  cursor: default;
  position: relative;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline: none;
}

/* line 43, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabTButtonDisabled {
  text-decoration: none;
  text-shadow: 1px 1px white;
  color: #888585;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  border: 1px solid #c3c3c3;
  border-bottom-style: none;
  padding: 2px 4px;
  margin-right: 2px;
  margin-bottom: -1px;
  display: block;
  float: left;
  cursor: default;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline: none;
}

/* line 63, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabTPane {
  color: Black;
  background-color: #fdfcfc;
  border: 1px solid #a5a3a3;
  padding: 2px;
}

/* line 72, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabBButton {
  text-decoration: none;
  text-shadow: 1px 1px white;
  color: Black;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image") repeat-x bottom #e3e1e1;
  border: 1px solid #c3c3c3;
  border-top-color: #a5a3a3;
  padding: 2px 4px;
  margin-top: -1px;
  margin-right: 2px;
  display: block;
  float: left;
  cursor: default;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline: none;
}
/* line 87, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabBButton:hover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23238%2c236%2c236/.%23249%2c247%2c247.png.a5image") repeat-x bottom #efeded;
  border-color: #a5a3a3;
}

/* line 93, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabBButtonSelected {
  text-decoration: none;
  text-shadow: 1px 1px white;
  color: Black;
  background-color: #fdfcfc;
  border: 1px solid #a5a3a3;
  border-top-style: none;
  padding: 2px 4px;
  padding-top: 3px;
  margin-top: -1px;
  margin-right: 2px;
  display: block;
  float: left;
  cursor: default;
  position: relative;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline: none;
}

/* line 113, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabBButtonDisabled {
  text-decoration: none;
  text-shadow: 1px 1px white;
  color: #888585;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image") repeat-x bottom #e3e1e1;
  border: 1px solid #c3c3c3;
  border-top-color: #a5a3a3;
  padding: 2px 4px;
  margin-top: -1px;
  margin-right: 2px;
  display: block;
  float: left;
  cursor: default;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline: none;
}

/* line 133, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabBPane {
  color: Black;
  background-color: #fdfcfc;
  border: 1px solid #a5a3a3;
  padding: 2px;
}

/* line 142, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabLButton {
  text-decoration: none;
  text-shadow: 1px 1px white;
  color: Black;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  border: 1px solid #c3c3c3;
  padding: 2px;
  margin-right: -1px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: none;
}
/* line 155, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabLButton:hover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image") repeat-x top #efeded;
  border-color: #a5a3a3;
}

/* line 161, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabLButtonSelected {
  text-decoration: none;
  text-shadow: 1px 1px white;
  color: Black;
  background-color: #fdfcfc;
  border: 1px solid #a5a3a3;
  border-right-style: none;
  padding: 2px;
  padding-right: 3px;
  margin-right: -1px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  position: relative;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: none;
}

/* line 180, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabLButtonDisabled {
  text-decoration: none;
  text-shadow: 1px 1px white;
  color: #888585;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  border: 1px solid #c3c3c3;
  padding: 2px;
  margin-right: -1px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: none;
}

/* line 198, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabLPane {
  color: Black;
  background-color: #fdfcfc;
  border: 1px solid #a5a3a3;
  padding: 2px;
}

/* line 207, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabRButton {
  text-decoration: none;
  text-shadow: 1px 1px white;
  color: Black;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  border: 1px solid #c3c3c3;
  border-left-style: none;
  padding: 2px;
  margin-left: 0px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  -webkit-border-radius: 0px 2px 2px 0px;
  -moz-border-radius: 0px 2px 2px 0px;
  -ms-border-radius: 0px 2px 2px 0px;
  -o-border-radius: 0px 2px 2px 0px;
  border-radius: 0px 2px 2px 0px;
  outline: none;
}
/* line 221, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabRButton:hover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image") repeat-x top #efeded;
  border-color: #a5a3a3;
}

/* line 227, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabRButtonSelected {
  text-decoration: none;
  text-shadow: 1px 1px white;
  color: Black;
  background-color: #fdfcfc;
  border: 1px solid #a5a3a3;
  border-left-style: none;
  padding: 2px;
  padding-left: 3px;
  margin-left: -1px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  position: relative;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline: none;
}

/* line 246, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabRButtonDisabled {
  text-decoration: none;
  text-shadow: 1px 1px white;
  color: #888585;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  border: 1px solid #c3c3c3;
  border-left-style: none;
  padding: 2px;
  margin-left: 0px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline: none;
}

/* line 265, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabRPane {
  color: Black;
  background-color: #fdfcfc;
  border: 1px solid #a5a3a3;
  padding: 2px;
}

/* line 272, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandT {
  color: Black;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  border: 1px solid #a5a3a3;
  padding: 0px;
}

/* line 279, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandTButton {
  text-decoration: none;
  text-shadow: 1px 1px white;
  white-space: nowrap;
  color: Black;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  border: 1px solid #c3c3c3;
  border-bottom-style: none;
  padding: 2px 4px;
  margin-top: 2px;
  margin-right: 2px;
  display: block;
  cursor: default;
  position: relative;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
}
/* line 295, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandTButton:hover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c247%2c247/.%23238%2c236%2c236.png.a5image") repeat-x top #efeded;
  border-color: #a5a3a3;
}

/* line 301, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandTButtonSelected {
  text-decoration: none;
  text-shadow: 1px 1px white;
  white-space: nowrap;
  color: Black;
  background-color: #fdfcfc;
  border: 1px solid #a5a3a3;
  border-bottom-style: none;
  padding: 2px 4px;
  padding-bottom: 3px;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: -1px;
  display: block;
  cursor: default;
  position: relative;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  outline: none;
}

/* line 322, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandTButtonDisabled {
  text-decoration: none;
  text-shadow: 1px 1px white;
  white-space: nowrap;
  color: #888585;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23249%2c248%2c248/.%23226%2c225%2c225.png.a5image") repeat-x top #e4e2e2;
  border: 1px solid #c3c3c3;
  border-bottom-style: none;
  padding: 2px 4px;
  margin-top: 2px;
  margin-right: 2px;
  display: block;
  cursor: default;
  position: relative;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline: none;
}

/* line 341, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandTLScroll, .GrGrayTabbandTLScrollDisabled {
  text-decoration: none;
  color: Black;
  background-color: #fdfcfc;
  border: 1px solid #a5a3a3;
  border-left-style: none;
  border-bottom-style: none;
  padding: 2px;
  padding-bottom: 3px;
  margin-bottom: -1px;
  display: block;
  position: relative;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  outline: none;
}

/* line 358, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandTRScroll {
  text-decoration: none;
  color: Black;
  background-color: #f5f4f4;
  border: 1px solid #a5a3a3;
  border-right-style: none;
  border-bottom-style: none;
  padding: 2px;
  padding-bottom: 3px;
  margin-bottom: -1px;
  display: block;
  position: relative;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  outline: none;
}

/* line 375, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandTRScrollDisabled {
  text-decoration: none;
  color: Black;
  background-color: #fdfcfc;
  border: 1px solid #a5a3a3;
  border-right-style: none;
  border-bottom-style: none;
  padding: 2px;
  padding-bottom: 3px;
  margin-bottom: -1px;
  display: block;
  position: relative;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  outline: none;
}

/* line 392, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandTSeparator {
  background-color: #fdfcfc;
  font: 0pt arial;
  border-top: 1px solid #a5a3a3;
  padding: 0px;
  height: 3px;
}

/* line 400, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandB {
  color: Black;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image") repeat-x bottom #e3e1e1;
  border: 1px solid #a5a3a3;
  border-bottom-style: solid;
  padding: 0px;
}

/* line 408, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandBButton {
  text-decoration: none;
  text-shadow: 1px 1px white;
  white-space: nowrap;
  color: Black;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image") repeat-x bottom #e3e1e1;
  border: 1px solid #c3c3c3;
  border-top-style: none;
  padding: 2px 4px;
  margin-right: 2px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  position: relative;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline: none;
}
/* line 424, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandBButton:hover {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23238%2c236%2c236/.%23249%2c247%2c247.png.a5image") repeat-x bottom #efeded;
  border-color: #a5a3a3;
}

/* line 430, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandBButtonSelected {
  text-decoration: none;
  text-shadow: 1px 1px white;
  white-space: nowrap;
  color: Black;
  background-color: #fdfcfc;
  border: 1px solid #a5a3a3;
  border-top-style: none;
  padding: 2px 4px;
  padding-top: 3px;
  margin-top: -1px;
  margin-right: 2px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  position: relative;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline: none;
}

/* line 451, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandBButtonDisabled {
  text-decoration: none;
  text-shadow: 1px 1px white;
  white-space: nowrap;
  color: #888585;
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23227%2c225%2c225/.%23249%2c248%2c248.png.a5image") repeat-x bottom #e3e1e1;
  border: 1px solid #c3c3c3;
  border-top-style: none;
  padding: 2px 4px;
  margin-right: 2px;
  margin-bottom: 2px;
  display: block;
  cursor: default;
  position: relative;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline: none;
}

/* line 470, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandBLScroll {
  text-decoration: none;
  color: Black;
  background-color: #f5f4f4;
  border: 1px solid #a5a3a3;
  border-top-style: none;
  border-left-style: none;
  padding: 2px;
  padding-top: 3px;
  margin-top: -1px;
  display: block;
  position: relative;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline: none;
}

/* line 487, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandBLScrollDisabled {
  text-decoration: none;
  color: Black;
  background-color: #fdfcfc;
  border: 1px solid #a5a3a3;
  border-top-style: none;
  border-left-style: none;
  padding: 2px;
  padding-top: 3px;
  margin-top: -1px;
  display: block;
  position: relative;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  outline: none;
}

/* line 504, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandBRScroll, .GrGrayTabbandBRScrollDisabled {
  text-decoration: none;
  color: Black;
  background-color: #fdfcfc;
  border: 1px solid #a5a3a3;
  border-top-style: none;
  border-right-style: none;
  padding: 2px;
  padding-top: 3px;
  margin-top: -1px;
  display: block;
  position: relative;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: none;
}

/* line 521, ../sass/partials/gr_gray/_gr-gray-tab.scss */
.GrGrayTabbandBSeparator {
  background-color: #fdfcfc;
  font: 0pt arial;
  border-bottom: 1px solid #a5a3a3;
  padding: 0px;
  height: 3px;
}

/* ======== Gr GRAY CONTROL ======== */
/* line 2, ../sass/partials/gr_gray/_gr-gray-control.scss */
.GrGrayControlGroup {
  background-color: #f5f4f4;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 8, ../sass/partials/gr_gray/_gr-gray-control.scss */
.GrGrayControlGroupRow {
  border-top: 1px solid #c3c3c3;
}

/* line 12, ../sass/partials/gr_gray/_gr-gray-control.scss */
.GrGrayControlGroupRowFirst {
  border-top-style: none;
}

/* ======== Gr GRAY SPIN ======== */
/* line 2, ../sass/partials/gr_gray/_gr-gray-spin.scss */
.GrGraySpinList {
  text-shadow: none;
  color: Black;
  background-color: #fdfcfc;
  border: 1px solid #c3c3c3;
  padding: 3px;
  vertical-align: top;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 11, ../sass/partials/gr_gray/_gr-gray-spin.scss */
.GrGraySpinList:after {
  background-image: url("spinListShadow.png");
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  content: "";
  background-size: 100% 100%;
}

/* line 25, ../sass/partials/gr_gray/_gr-gray-spin.scss */
.GrGraySpinListItem {
  font: 10pt Calibri, Tahoma, Arial;
  padding: 2px;
}

/* line 30, ../sass/partials/gr_gray/_gr-gray-spin.scss */
.GrGraySpinListGroup {
  white-space: nowrap;
  border: 1px solid #c3c3c3;
  padding: 0px;
  overflow: hidden;
  border-radius: 2px;
}
/* line 36, ../sass/partials/gr_gray/_gr-gray-spin.scss */
.GrGraySpinListGroup .GrGraySpinList {
  border-style: none;
  border-right: 1px solid #c3c3c3;
  display: inline-block;
  border-radius: 0px;
}
/* line 41, ../sass/partials/gr_gray/_gr-gray-spin.scss */
.GrGraySpinListGroup .GrGraySpinList:last-child {
  border-style: none;
}
/* line 44, ../sass/partials/gr_gray/_gr-gray-spin.scss */
.GrGraySpinListGroup .GrGraySpinList:after {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 50, ../sass/partials/gr_gray/_gr-gray-spin.scss */
.GrGraySpinListSelectBand:before {
  background: url("images/a5generated/box/size/1x22/fill/Gradient_Horizontal/.%23228%2c234%2c254/.%23176%2c195%2c254.png.a5image") repeat-x top #b2c5ff;
  border-top: 1px solid #93aeff;
  border-bottom: 1px solid #93aeff;
  margin-top: -8pt;
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 16pt;
  content: "";
  background-size: 100% 100%;
}

/* Scroll Indicator */
/* line 67, ../sass/partials/gr_gray/_gr-gray-spin.scss */
.GrGrayScrollIndH, .GrGrayScrollIndV {
  padding: 0px;
  width: 5px;
  height: 5px;
}

/* line 73, ../sass/partials/gr_gray/_gr-gray-spin.scss */
.GrGrayScrollIndHBar, .GrGrayScrollIndVBar {
  background-color: Black;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* fix to help with firefox button padding */
/* line 81, ../sass/partials/gr_gray/_gr-gray-spin.scss */
button::-moz-focus-inner {
  border-width: 0;
  padding: 0;
}
